<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container-lg">
        <div class="row">
          <div class="card">
            <h2 class="card-title initial text-center">
              {{ 'police.settings.header' | translate }}
            </h2>
            <div class="row" *ngIf="userSettings">
              <div class="col-md-10 mr-auto ml-auto">
                <div class="card card-plain">
                  <form
                    class="form"
                    #settingsForm="ngForm"
                    (ngSubmit)="onSubmit(settingsForm)"
                  >
                    <div class="card-body">
                      <div class="row justify-content-center">
                        <div class="col-sm-8 col-lg-6 pl-4 pl-sm-5 pr-sm-0">
                          <h5 class="mb-0">
                            {{ 'police.settings.endOfContract' | translate }}
                          </h5>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                name="contractBeforeEnd"
                                [(ngModel)]="
                                  userSettings.notifications.contractBeforeEnd
                                "
                              />
                              <span class="form-check-sign"></span>
                              {{
                                'police.settings.beforeEndContract' | translate
                              }}
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                name="contractBeforeRenewal"
                                [(ngModel)]="
                                  userSettings.notifications
                                    .contractBeforeRenewal
                                "
                              />
                              <span class="form-check-sign"></span>
                              {{ 'police.settings.beforeRenewal' | translate }}
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row justify-content-center">
                        <div
                          class="col-sm-8 col-lg-6 pl-4 pl-sm-5 pr-sm-0 mt-4"
                        >
                          <h5 class="mb-0">
                            {{
                              'police.settings.possibilityOfSave' | translate
                            }}
                          </h5>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                name="canSave"
                                [(ngModel)]="userSettings.notifications.canSave"
                              />
                              <span class="form-check-sign"></span>
                              {{ 'police.settings.whenCanSave' | translate }}
                            </label>
                          </div>
                          <div class="row">
                            <div class="col-12 pl-sm-5 ml-sm-5">
                              <div
                                class="row justify-content-center justify-content-sm-start"
                              >
                                <div class="col-auto vertical-center px-0">
                                  <label
                                    class="vertical-center"
                                    for="canSaveAmount"
                                    >{{
                                      'police.settings.atLeast' | translate
                                    }}</label
                                  >
                                </div>
                                <div
                                  class="input-group col-auto vertical-center"
                                  style="max-width: 170px;"
                                  [ngClass]="{
                                    'input-group-focus': focus[0] === true
                                  }"
                                >
                                  <input
                                    name="canSaveAmount"
                                    [(ngModel)]="
                                      userSettings.notifications.canSaveAmount
                                    "
                                    type="number"
                                    class="form-control"
                                    placeholder="2500"
                                    (focus)="focus[0] = true"
                                    (blur)="focus[0] = false"
                                    [disabled]="
                                      !userSettings.notifications.canSave
                                    "
                                  />
                                  <div class="input-group-append">
                                    <span
                                      class="input-group-text"
                                      [class.disabled]="
                                        !userSettings.notifications.canSave
                                      "
                                    >
                                      CZK
                                    </span>
                                  </div>
                                </div>
                                <div class="col-auto vertical-center px-0">
                                  <span class="vertical-center">
                                    {{ 'police.settings.annualy' | translate }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                name="costHigher"
                                [(ngModel)]="
                                  userSettings.notifications.costHigher
                                "
                              />
                              <span class="form-check-sign"></span>
                              {{ 'police.settings.whenCostUp' | translate }}
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row justify-content-center">
                        <div
                          class="col-sm-8 col-lg-6 pl-4 pl-sm-5 pr-sm-0 mt-4"
                        >
                          <h5 class="mb-0">
                            {{
                              'police.settings.consumptionTracking' | translate
                            }}
                          </h5>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                [(ngModel)]="
                                  userSettings.notifications.remindToRead
                                "
                                name="remindToRead"
                              />
                              <span class="form-check-sign"></span>
                              {{ 'police.settings.toRead' | translate }}
                            </label>
                          </div>
                          <div class="row">
                            <div class="col-12 pl-sm-5 ml-sm-5">
                              <div
                                class="row justify-content-center justify-content-sm-start"
                              >
                                <div class="col-auto vertical-center px-0">
                                  <label
                                    class="vertical-center"
                                    for="toReadEvery"
                                    >{{
                                      'police.settings.every' | translate
                                    }}</label
                                  >
                                </div>
                                <div
                                  class="input-group col-auto vertical-center"
                                  style="max-width: 170px;"
                                  [ngClass]="{
                                    'input-group-focus': focus[1] === true
                                  }"
                                >
                                  <input
                                    name="remindToReadEvery"
                                    [(ngModel)]="
                                      userSettings.notifications
                                        .remindToReadEvery
                                    "
                                    type="number"
                                    class="form-control"
                                    placeholder="2"
                                    (focus)="focus[1] = true"
                                    (blur)="focus[1] = false"
                                    [disabled]="
                                      !userSettings.notifications.remindToRead
                                    "
                                  />
                                  <div class="input-group-append">
                                    <span
                                      class="input-group-text"
                                      [class.disabled]="
                                        !userSettings.notifications.remindToRead
                                      "
                                    >
                                      {{ 'police.settings.months' | translate }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                [(ngModel)]="
                                  userSettings.notifications.consumptionHigher
                                "
                                name="consumptionHigher"
                              />
                              <span class="form-check-sign"></span>
                              {{ 'police.settings.consumptionUp' | translate }}
                            </label>
                          </div>
                          <div class="row">
                            <div class="col-12 pl-sm-5 ml-sm-5">
                              <div
                                class="row justify-content-center justify-content-sm-start"
                              >
                                <div class="col-auto vertical-center px-0">
                                  <label
                                    class="vertical-center"
                                    for="canSaveAmount"
                                    >{{
                                      'police.settings.by' | translate
                                    }}</label
                                  >
                                </div>
                                <div
                                  class="input-group col-auto vertical-center"
                                  style="max-width: 120px;"
                                  [ngClass]="{
                                    'input-group-focus': focus[2] === true
                                  }"
                                >
                                  <input
                                    name="consumptionHigherByPercent"
                                    [(ngModel)]="
                                      userSettings.notifications
                                        .consumptionHigherByPercent
                                    "
                                    type="number"
                                    class="form-control"
                                    placeholder="20"
                                    (focus)="focus[2] = true"
                                    (blur)="focus[2] = false"
                                    [disabled]="
                                      !userSettings.notifications
                                        .consumptionHigher
                                    "
                                  />
                                  <div class="input-group-append">
                                    <span
                                      class="input-group-text"
                                      [class.disabled]="
                                        !userSettings.notifications
                                          .consumptionHigher
                                      "
                                    >
                                      %
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 text-center mt-4">
                          <button
                            type="submit"
                            class="btn btn-round btn-primary btn-lg"
                          >
                            {{ 'police.settings.save' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
