@import '~assets/sass/now-ui-kit/_variables.scss';
.wrapper {
  min-height: 90vh;
}
.main {
  background: transparent;
}
.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}
.form-control:disabled {
  background-color: $light-gray;
  color: white;
}
.input-group-text.disabled {
  background-color: $light-gray;
  color: white;
}
