<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-4 d-flex justify-content-center">
            <div class="card card-login card-plain">
              <form
                class="form"
                #loginForm="ngForm"
                (ngSubmit)="onSubmit(loginForm)"
              >
                <h2
                  class="card-title text-center initial"
                  style="padding-bottom: 40px; color: white;"
                >
                  {{ 'login.loginTitle' | translate }}
                </h2>
                <div class="card-body">
                  <div class="row d-flex justify-content-center mt-3">
                    <div class="col-md-12">
                      <button
                        type="button"
                        (click)="googleSignin()"
                        class="btn btn-primary btn-round btn-lg btn-block"
                      >
                        <i class="fa fa-google"></i>&nbsp;Sign In
                      </button>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center mt-2">
                    <div class="col-md-12">
                      <button
                        type="button"
                        (click)="facebookSignin()"
                        class="btn btn-primary btn-round btn-lg btn-block"
                      >
                        <i class="fa fa-facebook-official"></i>&nbsp;Sign In
                      </button>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center mt-2">
                    <div class="col-md-12">
                      <button
                        type="button"
                        (click)="twitterSignin()"
                        class="btn btn-primary btn-round btn-lg btn-block"
                      >
                        <i class="fa fa-twitter"></i>&nbsp;Sign In
                      </button>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center mt-2 mb-3">
                    <div class="col-md-12">
                      <button
                        type="button"
                        (click)="appleSignin()"
                        class="btn btn-primary btn-round btn-lg btn-block"
                        disabled
                      >
                        <i class="fa fa-apple"></i>&nbsp;Sign In
                      </button>
                    </div>
                  </div>
                  <h5 class="text-center" style="color: white;">
                    Or log in using email
                  </h5>
                  <div
                    class="input-group form-group-no-border input-lg"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i
                      ></span>
                    </div>
                    <input
                      name="email"
                      type="email"
                      required
                      email
                      ngModel
                      class="form-control"
                      placeholder="{{ 'login.email' | translate }}"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                  </div>
                  <div
                    class="input-group form-group-no-border input-lg"
                    [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="now-ui-icons text_caps-small"></i
                      ></span>
                    </div>
                    <input
                      name="password"
                      type="password"
                      required
                      password
                      ngModel
                      placeholder="{{ 'login.password' | translate }}"
                      class="form-control"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                    />
                  </div>
                </div>
                <div class="card-footer text-center">
                  <button
                    class="btn btn-primary btn-round btn-lg btn-block"
                    type="submit"
                    [disabled]="!loginForm.valid"
                  >
                    <span>{{ 'login.login' | translate }}</span>
                  </button>
                </div>
                <p class="text-center text-danger" *ngIf="error">
                  {{ error | translate }}
                </p>
                <div class="pull-left">
                  <h6>
                    <a class="link footer-link" [routerLink]="['/register']">{{
                      'login.createAccount' | translate
                    }}</a>
                  </h6>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
