// I can't even BEGIN to start talking about how much I hate the google autofill styles
input:-webkit-autofill:focus {
  border: 0px solid green;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #4a5d4f inset;
  box-shadow: 0 0 0px 1000px #4a5d4f inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  font-family: 'Montserrat' !important;
}
select:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill {
  border: 0px solid green;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #324a39 inset;
  box-shadow: 0 0 0px 1000px #324a39 inset;
  transition: background-color 5000s ease-in-out 0s;
  font-family: 'Montserrat' !important;
}
.btn {
  margin: 0;
}
.main {
  background-color: transparent;
}
.wrapper {
  min-height: 87vh;
  padding-top: 10vh;
}
