input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
.card {
  .input-group {
    max-width: 350px;
    margin: 0 auto 10px auto;
  }
  .card-title {
    margin-bottom: 1em;
  }
}
.card-padding {
  padding: 50px 0;
}
.initial {
  color: initial;
}
.card {
  .info {
    padding: 10px 0;
  }
}
.right-border {
  border-right: 1px solid lightgrey;
}
.left-border {
  border-left: 1px solid lightgrey;
}
.tracking-card {
  margin-bottom: 1em;
  width: 99%;
  .card-body {
    padding: 1rem 1.25rem;
  }
}
.icon-button {
  border: none;
  outline: 0;
}
.wrapper {
  min-height: 90vh;
}
body {
  background: #353535;
  background: -webkit-linear-gradient(top left, #353535, #01340e);
  background: -moz-linear-gradient(top left, #353535, #01340e);
  background: linear-gradient(to bottom right, #353535, #01340e);
}
.main {
  background: transparent;
}
h6 {
  font-size: 1rem;
}
.form-control {
  font-size: 1.3rem;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}
p {
  font-size: 1em;
  margin: 0;
}
.card-pricing .card-body {
  padding: 10px;
}

@media (max-width: 768px) {
  .btn {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .row-line {
    border-bottom: 1px solid lightgrey;
  }
}
.info {
  max-width: 100%;
  @media (min-width: 992px) {
    .info-title {
      padding: 0;
    }
  }
}
@media (max-width: 575.98px) {
  .icon {
    margin-left: 10px;
  }
}
.icon {
  font-size: 1.5em;
  float: none;
  margin-right: 0;
}
.icon-button {
  border: none;
  outline: 0;
  width: 60px !important;
  max-width: 60px !important;
  height: 60px !important;
  i {
    font-size: 2.3em;
    line-height: 2.5em;
  }
}
.dropdown-toggle::after {
  content: none;
}
.edit {
  margin-top: -6px;
  padding-left: 0px;
  .dropdown-toggle {
    padding-left: 0px;
  }

  .dropdown-menu-left {
    -webkit-transform: translate3d(-14px, 40px, 0) !important;
    transform: translate3d(-14px, 40px, 0) !important;
  }
  .dropdown-menu-right {
    -webkit-transform: translate3d(-160px, -8px, 0) !important;
    transform: translate3d(-160px, -8px, 0) !important;
  }
  .dropdown-menu-right::before {
    display: none;
  }
}
.info-horizontal .description {
  overflow: visible !important;
}
