<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <div class="card card-signup">
              <h2 class="card-title text-center initial">
                {{ 'register.registerTitle' | translate }}
              </h2>
              <div class="row d-flex justify-content-center mt-3">
                <div class="col-11 col-sm-12" style="max-width: 370px;">
                  <button
                    (click)="googleSignin()"
                    class="btn btn-primary btn-round btn-lg btn-block"
                  >
                    <i class="fa fa-google"></i>&nbsp;Sign In
                  </button>
                </div>
              </div>
              <div class="row d-flex justify-content-center mt-2">
                <div class="col-11 col-sm-12" style="max-width: 370px;">
                  <button
                    (click)="facebookSignin()"
                    class="btn btn-primary btn-round btn-lg btn-block"
                  >
                    <i class="fa fa-facebook-official"></i>&nbsp;Sign In
                  </button>
                </div>
              </div>
              <div class="row d-flex justify-content-center mt-2">
                <div class="col-11 col-sm-12" style="max-width: 370px;">
                  <button
                    (click)="twitterSignin()"
                    class="btn btn-primary btn-round btn-lg btn-block"
                  >
                    <i class="fa fa-twitter"></i>&nbsp;Sign In
                  </button>
                </div>
              </div>
              <div class="row d-flex justify-content-center mt-2 mb-3">
                <div class="col-11 col-sm-12" style="max-width: 370px;">
                  <button
                    (click)="appleSignin()"
                    class="btn btn-primary btn-round btn-lg btn-block"
                    disabled
                  >
                    <i class="fa fa-apple"></i>&nbsp;Sign In
                  </button>
                </div>
              </div>
              <h5 class="initial text-center">Or sign in using email</h5>

              <form
                class="form"
                #registerForm="ngForm"
                (ngSubmit)="onSubmit(registerForm)"
              >
                <div class="card-body">
                  <div
                    class="input-group input-lg"
                    [ngClass]="{ 'input-group-focus': focus[0] === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i
                      ></span>
                    </div>
                    <input
                      name="firstName"
                      type="text"
                      ngModel
                      class="form-control"
                      placeholder="{{ 'register.firstName' | translate }}"
                      (focus)="focus[0] = true"
                      (blur)="focus[0] = false"
                    />
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus[1] === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i
                      ></span>
                    </div>
                    <input
                      name="lastName"
                      type="text"
                      ngModel
                      class="form-control"
                      placeholder="{{ 'register.lastName' | translate }}"
                      (focus)="focus[1] = true"
                      (blur)="focus[1] = false"
                    />
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus[2] === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i
                      ></span>
                    </div>
                    <input
                      name="email"
                      type="email"
                      required
                      email
                      ngModel
                      class="form-control"
                      placeholder="{{ 'register.email' | translate }}*"
                      (focus)="focus[2] = true"
                      (blur)="focus[2] = false"
                    />
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus[3] === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons tech_mobile"></i
                      ></span>
                    </div>
                    <input
                      name="phoneNumber"
                      type="tel"
                      ngModel
                      class="form-control"
                      placeholder="{{ 'register.phoneNumber' | translate }}"
                      (focus)="focus[3] = true"
                      (blur)="focus[3] = false"
                    />
                  </div>
                  <div class="row">
                    <div class="col">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus[4] === true }"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="now-ui-icons business_badge"></i
                          ></span>
                        </div>
                        <input
                          (input)="onNameChange($event.target.value)"
                          name="userName"
                          type="text"
                          ngModel
                          required
                          class="form-control"
                          placeholder="{{ 'register.userName' | translate }}*"
                          (focus)="focus[4] = true"
                          (blur)="focus[4] = false"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus[5] === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons text_caps-small"></i
                      ></span>
                    </div>
                    <input
                      name="password"
                      type="password"
                      required
                      password
                      ngModel
                      placeholder="{{ 'register.password' | translate }}*"
                      class="form-control"
                      minlength="6"
                      (focus)="focus[5] = true"
                      (blur)="focus[5] = false"
                    />
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus[6] === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons text_caps-small"></i
                      ></span>
                    </div>
                    <input
                      name="passwordConfirm"
                      id="passwordConfirm"
                      type="password"
                      required
                      password
                      ngModel
                      placeholder="{{
                        'register.confirmPassword' | translate
                      }}*"
                      class="form-control"
                      (focus)="focus[6] = true"
                      (blur)="focus[6] = false"
                    />
                  </div>
                  <p class="text-center text-danger" *ngIf="error">
                    {{ error | translate }}
                  </p>
                  <p class="text-center text-danger" *ngIf="nameDuplicate">
                    {{ nameDuplicate | translate }}
                  </p>
                  <div
                    *ngIf="registerForm.controls.passwordConfirm !== undefined"
                  >
                    <p
                      class="text-center text-danger"
                      *ngIf="
                        !registerForm.controls.password.valid &&
                        registerForm.controls.password.dirty
                      "
                    >
                      {{ 'register.passwordShort' | translate }}
                    </p>
                    <p
                      class="text-center text-danger"
                      *ngIf="
                        registerForm.controls.passwordConfirm.dirty &&
                        registerForm.value.password !==
                          registerForm.value.passwordConfirm
                      "
                    >
                      {{ 'register.passwordMismatch' | translate }}
                    </p>
                  </div>
                  <p class="text-center initial">
                    {{ 'register.necessaryFields' | translate }}
                  </p>
                  <div class="text-center">
                    <button
                      class="btn btn-primary btn-round btn-lg"
                      type="submit"
                      [disabled]="
                        !registerForm.valid ||
                        formWorking ||
                        registerForm.value.password !==
                          registerForm.value.passwordConfirm ||
                        nameDuplicate
                      "
                    >
                      <span>{{ 'register.registerButton' | translate }}</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
