<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container-lg">
        <div class="row">
          <div class="card">
            <h2 class="card-title initial text-center mb-0">
              {{ 'police.estimate.title' | translate }}
            </h2>
            <h4 class="text-center mt-2">
              Home
            </h4>
            <div class="row">
              <div class="col-md-10 mr-auto ml-auto">
                <div class="card card-plain">
                  <form class="form" #estimateForm="ngForm">
                    <div class="card-body">
                      <!-- PLACE OF CONSUMPTION SELECTION -->
                      <div class="col-12 text-center">
                        <h5 class="mb-0">
                          {{ 'police.setTariff.drawElectricity' | translate }}
                        </h5>

                        <div
                          class="btn-group btn-group-toggle"
                          ngbRadioGroup
                          #rad1
                          name="placeSelection"
                        >
                          <label
                            ngbButtonLabel
                            class="btn btn-simple btn-round mr-1 mr-md-3"
                          >
                            <input ngbButton type="radio" value="household" />
                            {{ 'police.setTariff.household' | translate }}
                          </label>
                          <label
                            ngbButtonLabel
                            class="btn btn-simple btn-round"
                          >
                            <input ngbButton type="radio" value="business" />
                            {{ 'police.setTariff.business' | translate }}
                          </label>
                        </div>
                      </div>

                      <!-- OBJECT TYPE SELECTION -->
                      <div class="col-12 text-center mt-3">
                        <h5 class="mb-0">
                          {{ 'police.estimate.objectType' | translate }}
                        </h5>

                        <div
                          class="btn-group btn-group-toggle"
                          ngbRadioGroup
                          #rad2
                          name="objectType"
                        >
                          <label
                            ngbButtonLabel
                            class="btn btn-simple btn-round mr-1 mr-md-3"
                          >
                            <input ngbButton type="radio" value="flat" />
                            {{ 'police.estimate.flat' | translate }}
                          </label>
                          <label
                            ngbButtonLabel
                            class="btn btn-simple btn-round mr-1 mr-md-3"
                          >
                            <input ngbButton type="radio" value="house" />
                            {{ 'police.estimate.house' | translate }}
                          </label>
                          <label
                            ngbButtonLabel
                            class="btn btn-simple btn-round"
                          >
                            <input
                              ngbButton
                              type="radio"
                              value="weekendCottage"
                            />
                            {{ 'police.estimate.weekendCottage' | translate }}
                          </label>
                        </div>
                      </div>

                      <!-- SINGLE/DOUBLE TARIFF SELECTION -->
                      <div class="col-12 text-center mt-3">
                        <h5 class="mb-0">
                          Type of tariff
                        </h5>

                        <div
                          class="btn-group btn-group-toggle"
                          ngbRadioGroup
                          #rad3
                          name="objectType"
                        >
                          <label
                            ngbButtonLabel
                            class="btn btn-simple btn-round mr-1 mr-md-3"
                          >
                            <input ngbButton type="radio" value="flat" />
                            Single tariff
                          </label>
                          <label
                            ngbButtonLabel
                            class="btn btn-simple btn-round mr-1 mr-md-3"
                          >
                            <input ngbButton type="radio" value="house" />
                            Double tariff
                          </label>
                        </div>
                      </div>

                      <!-- NUMBER OF PEOPLE SLIDER -->
                      <div class="col-12 text-center">
                        <div class="row mt-3">
                          <div class="col-12 text-center">
                            <h5 class="mb-2">
                              {{ 'police.estimate.persons' | translate }}
                            </h5>
                            <!-- <label>{{
                                'police.estimate.persons' | translate
                              }}</label> -->
                          </div>

                          <div class="col-12 text-center">
                            <div class="row d-flex justify-content-center">
                              <div class="col-2 text-right vertical-center">
                                1
                              </div>
                              <div class="col-8 col-sm-6 col-md-4">
                                <nouislider
                                  class="slider slider-primary"
                                  [config]="peopleConfig"
                                  name="people"
                                ></nouislider>
                              </div>
                              <div class="col-2 text-left vertical-center">
                                4+
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- ELECTRICITY USAGE SELECTION -->
                      <div class="row d-flex justify-content-center mt-3">
                        <div class="col-12 col-md-10 text-center">
                          <!-- <div class="card">
                              <div class="card-body px-4"> -->
                          <!-- <div class="card-title"> -->
                          <h5>
                            {{ 'police.estimate.electricityUsage' | translate }}
                          </h5>
                          <!-- </div> -->
                          <div class="row d-flex justify-content-center">
                            <div
                              class="btn-group-toggle justify-content-center"
                              name="usages"
                            >
                              <label
                                *ngFor="let usage of usages; let i = index"
                                [class.active]="usages[i].checked"
                                class="btn btn-check btn-round mr-1 mr-md-3"
                              >
                                <i class="fa" [ngClass]="usage.icon"></i>
                                <input
                                  [(ngModel)]="usages[i].checked"
                                  (click)="
                                    usages[i].checked = !usages[i].checked
                                  "
                                  type="checkbox"
                                  name="usages[i].value"
                                />
                                {{ usages[i].name | translate }}
                              </label>
                            </div>
                          </div>
                          <!-- </div>
                            </div> -->
                        </div>
                      </div>

                      <!-- PROVIDER SELECT -->
                      <div class="row d-flex justify-content-center mt-3">
                        <div class="col-12 col-md-6">
                          <!-- <label for="provider" class="ml-3">
                              {{ 'police.estimate.providerSelect' | translate }}
                            </label> -->
                          <div class="col-12 my-3">
                            <label for="provider" class="ml-3">{{
                              'police.setTariff.provider' | translate
                            }}</label>
                            <input
                              name="provider"
                              style="max-width: 350px;"
                              type="text"
                              class="form-control fix-height"
                              required
                              placeholder="{{
                                'police.setTariff.elUnits' | translate
                              }}"
                              value="Bohemia Energy"
                            />
                          </div>
                        </div>
                      </div>

                      <!-- DEPOSIT -->
                      <div class="row d-flex justify-content-sm-center mt-3">
                        <div class="col-12 col-md-6">
                          <div class="row">
                            <div
                              class="col-12 col-sm-5 col-md-6 vertical-center"
                            >
                              <label
                                for="totalCost"
                                class="ml-4 pl-2 ml-md-0 pl-md-0"
                                >{{
                                  'police.estimate.knowDeposit' | translate
                                }}</label
                              >
                            </div>
                            <div
                              class="input-group col-10 col-sm-7 col-md-6 ml-3 ml-md-0 text-sm-right"
                              [ngClass]="{
                                'input-group-focus': focus[0] === true
                              }"
                            >
                              <input
                                name="deposit"
                                type="number"
                                class="form-control fix-height"
                                placeholder="{{
                                  'police.estimate.deposit' | translate
                                }}"
                                (focus)="focus[0] = true"
                                (blur)="focus[0] = false"
                              />
                              <div class="input-group-append fix-height">
                                <span class="input-group-text">
                                  CZK
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- ESTIMATE -->
                      <div class="row d-flex justify-content-center mt-3">
                        <div class="col-12 col-md-10">
                          <div class="card">
                            <div class="card-body px-4">
                              <div class="card-title">
                                <h5>
                                  {{ 'police.estimate.estimated' | translate }}:
                                </h5>
                              </div>
                              <div class="row">
                                <div class="col-4">
                                  <p>
                                    {{ 'police.estimate.rate' | translate }}
                                  </p>
                                </div>
                                <div class="col-8 text-right">
                                  <p>
                                    {{
                                      'police.setTariff.ratesList.0' | translate
                                    }}
                                  </p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-8">
                                  <p>
                                    {{
                                      'police.estimate.annualHigh' | translate
                                    }}
                                  </p>
                                </div>
                                <div class="col-4 text-right">
                                  <p>
                                    3.2 kWh
                                  </p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-8">
                                  <p>
                                    {{
                                      'police.estimate.annualLow' | translate
                                    }}
                                  </p>
                                </div>
                                <div class="col-4 text-right">
                                  <p>
                                    0 kWh
                                  </p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <p>
                                    {{ 'police.estimate.total' | translate }}
                                  </p>
                                </div>
                                <div class="col-6 text-right">
                                  <p>
                                    35 000 CZK
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- PROGRESS BAR -->
                      <div class="text-center mt-3">
                        <div
                          class="progress-container progress-primary text-left"
                        >
                          <span class="progress-badge">{{
                            'police.setTariff.progress' | translate
                          }}</span>

                          <ngb-progressbar [value]="75"
                            ><span class="progress-value"
                              >75%</span
                            ></ngb-progressbar
                          ><br />
                        </div>
                        <div class="row d-flex justify-content-center">
                          <div class="col-12">
                            <button
                              class="btn btn-round btn-info btn-sm"
                              type="button"
                            >
                              <span>{{
                                'police.estimate.reevaluate' | translate
                              }}</span>
                            </button>
                          </div>

                          <!-- <button
                              *ngIf="!showProgress"
                              class="btn btn-round btn-primary btn-lg"
                              type="submit"
                            >
                              <span>{{
                                'police.estimate.confirm' | translate
                              }}</span>
                            </button> -->

                          <div>
                            <div class="col-12">
                              <button
                                class="btn btn-primary btn-round btn-lg"
                                [routerLink]="'/light/tracking'"
                              >
                                <span>{{
                                  'police.setTariff.track' | translate
                                }}</span>
                              </button>
                            </div>
                            <div class="col-12">
                              <button
                                class="btn btn-primary btn-round btn-lg"
                                [routerLink]="'/light/compare'"
                              >
                                <span>{{
                                  'police.setTariff.compare' | translate
                                }}</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
