.wrapper {
  min-height: 90vh;
}
.main {
  background: transparent;
}
.left-margin-fix {
  margin-left: -20px;
}
.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}
.fix-height {
  height: 40px;
}
.btn-radio {
  .active {
    background-color: green;
  }
}
.noUi-handle {
  border-radius: 50% !important;
  width: 40px !important;
}
html:not([dir='rtl']) .noUi-horizontal .noUi-handle {
  right: -25px !important;
}
