@import '~assets/sass/now-ui-kit/_variables.scss';
.initial {
  color: white;
}
.main {
  background-color: transparent;
}
.description {
  color: $opacity-8;
}
.wrapper {
  min-height: 87vh;
  padding-top: 10vh;
}
.btn-check {
  border-color: white !important;
  color: white !important;
}
.btn-check.active {
  border-color: $primary-color !important;
}
p {
  font-size: 1em;
  margin: 0;
}
.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}
