.fullScreen {
  .cuppa-dropdown {
    .dropdown-list {
      z-index: 1000 !important;
      @media (max-width: 767.98px) {
        position: fixed;
        top: 6vh;
      }
      .list-area {
        border: none !important;
        border-radius: 0.125rem !important;
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2) !important;
        @media (max-width: 767.98px) {
          min-height: 92vh !important;
          width: 94vw;
        }
      }
      .arrow-up {
        @media (max-width: 767.98px) {
          display: none;
        }
      }
    }
  }
}
.selected-list .c-btn {
  color: initial !important;
  box-shadow: none !important;
  border-radius: 30px !important;
  padding: 10px 18px 10px 18px !important;
  border: 1px solid $light-gray !important;
  line-height: normal !important;
  // font-size: 1.2em;
}
.selected-list .c-list .c-token {
  background: none !important;
  color: $black-color !important;
}
.c-angle-down {
  -webkit-transform: translateY(-72%) !important;
  transform: translateY(-72%) !important;
}
.c-angle-up {
  -webkit-transform: translateY(-72%) !important;
  transform: translateY(-72%) !important;
}
.cuppa-dropdown {
  .dropdown-list {
    z-index: 1000 !important;
    // @media (max-width: 767.98px) {
    //   position: fixed;
    //   top: 6vh;
    // }

    .list-area {
      border: none !important;
      border-radius: 0.125rem !important;
      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2) !important;
      // @media (max-width: 767.98px) {
      //   min-height: 92vh !important;
      //   width: 94vw;
      // }

      .list-filter input {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      .pure-checkbox {
        border-bottom: 1px solid $light-gray !important;

        label {
          width: 100%;
          font-weight: 400 !important;
          font-size: 1rem !important;
        }
        input[type='checkbox']:checked + label:before {
          background: transparent !important;
          animation: none !important;
          right: 0 !important;
        }
        input[type='checkbox'] + label:before {
          border: none !important;
        }
        input[type='checkbox'] + label:after {
          left: auto !important;
          width: 14px !important;
          height: 7px !important;
          border-width: 0 0 1px 1px !important;
          right: 0 !important;
          opacity: 0.5 !important;
          border-color: $black-color !important;
        }
      }
      ul li:last-child {
        border-bottom-right-radius: 0.125rem;
        border-bottom-left-radius: 0.125rem;
      }
      ul li:first-child {
        border-top-left-radius: 0.125rem;
        border-top-right-radius: 0.125rem;
      }
    }

    .arrow-up {
      // @media (max-width: 767.98px) {
      //   display: none;
      // }
      margin-left: 30px !important;
      border-bottom: 15px solid #fff;
    }
  }
}
