.wrapper {
  min-height: 90vh;
}
body {
  background: #353535;
  background: -webkit-linear-gradient(top left, #353535, #01340e);
  background: -moz-linear-gradient(top left, #353535, #01340e);
  background: linear-gradient(to bottom right, #353535, #01340e);
}
.main {
  background: transparent;
}
.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}
.fix-height {
  height: 40px;
}
.dropdownSelect {
  color: #000;
  .c-btn {
    border-color: #1d1d1d !important;
  }
  .vertical .selfScroll {
    height: 90vh !important;
  }
}
.custom-class-example .c-token {
  background: #38d574 !important;
}
.custom-class-example .pure-checkbox label::before {
  border-color: #38d574 !important;
}
.custom-class-example
  .pure-checkbox
  input[type='checkbox']:checked
  + label[_ngcontent-c1]:before {
  background: #38d574 !important;
}
.left-margin-fix {
  margin-left: -20px;
}

.icon-button {
  border: none;
  outline: 0;
  width: 60px !important;
  max-width: 60px !important;
  height: 60px !important;
  i {
    font-size: 2.3em;
    line-height: 2.5em;
  }
}
.definiteDurationDatepicker {
  position: static !important;
  display: inline-block !important;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
