<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container-lg">
        <div class="row">
          <div class="card">
            <h2 class="card-title initial text-center mb-0">
              {{ 'police.setTariff.header' | translate }}
            </h2>
            <h4 class="text-center mt-2">
              {{ (supplyPoint | async)?.name }}
            </h4>
            <div class="row">
              <div class="col-md-10 mr-auto ml-auto">
                <div class="card card-plain">
                  <form
                    class="form"
                    #tariffsForm="ngForm"
                    (ngSubmit)="onSubmit(tariffsForm)"
                  >
                    <div class="card-body">
                      <!-- WHERE DO YOU DRAW ELECTRICITY -->
                      <div class="col-12 text-center">
                        <h5 class="mb-0">
                          {{ 'police.setTariff.drawElectricity' | translate }}
                        </h5>
                        <div
                          class="btn-group btn-group-toggle"
                          ngbRadioGroup
                          #rad1
                          name="placeSelection"
                          [(ngModel)]="placeSelection"
                          (change)="progressBarAdd('3')"
                        >
                          <label
                            ngbButtonLabel
                            class="btn btn-simple btn-round mr-1 mr-md-3"
                          >
                            <input ngbButton type="radio" value="household" />
                            {{ 'police.setTariff.household' | translate }}
                          </label>
                          <label
                            ngbButtonLabel
                            class="btn btn-simple btn-round"
                          >
                            <input ngbButton type="radio" value="business" />
                            {{ 'police.setTariff.business' | translate }}
                          </label>
                        </div>
                      </div>

                      <!-- PROVIDER AND TARIFF SELECT -->
                      <div
                        class="col-md-6 ml-auto mr-auto mt-3"
                        *ngIf="placeSelection"
                        [@inOutAnimation]
                      >
                        <div class="row">
                          <div class="col-12 ml-3">
                            <h5 class="mb-0">
                              {{ 'police.setTariff.selectProduct' | translate }}
                            </h5>
                          </div>

                          <div
                            class="col-12 my-3"
                            *ngIf="tariffsList !== undefined"
                          >
                            <label
                              for="provider"
                              class="ml-3"
                              *ngIf="provider.length > 0"
                              >{{
                                'police.setTariff.provider' | translate
                              }}</label
                            >
                            <angular2-multiselect
                              [data]="providersList"
                              [(ngModel)]="provider"
                              name="provider"
                              class="fullScreen"
                              [settings]="providersDropdownSettings"
                              (onSelect)="onProviderSelect()"
                              (onDeSelect)="onProviderDeselect()"
                            >
                            </angular2-multiselect>
                          </div>
                          <div class="col-12 mb-3">
                            <label
                              for="provider"
                              class="ml-3"
                              *ngIf="tariff.length > 0"
                              >{{
                                'police.setTariff.tariff' | translate
                              }}</label
                            >
                            <angular2-multiselect
                              [data]="tariffsList"
                              [(ngModel)]="tariff"
                              name="tariff"
                              required
                              (onSelect)="onTariffSelect()"
                              [settings]="tariffsDropdownSettings"
                            >
                            </angular2-multiselect>
                          </div>
                        </div>

                        <!-- RATE AND CIRCUIT BREAKER SELECTION -->
                        <div
                          class="row"
                          *ngIf="tariff.length > 0"
                          [@inOutAnimation]
                        >
                          <div class="col-12 ml-3">
                            <h5 class="mb-3">
                              {{ 'police.setTariff.supplyPoint' | translate }}
                            </h5>
                          </div>
                          <div class="col-12 mb-3">
                            <label
                              for="rate"
                              class="ml-3"
                              *ngIf="rate.length > 0"
                              >{{ 'police.setTariff.rate' | translate }}</label
                            >
                            <angular2-multiselect
                              [data]="ratesList"
                              [(ngModel)]="rate"
                              name="rate"
                              (onSelect)="
                                onRateSelect($event); progressBarAdd('5')
                              "
                              [settings]="ratesDropdownSettings"
                            >
                            </angular2-multiselect>
                          </div>
                          <div class="col-12 mb-3">
                            <label
                              for="circuitBreaker"
                              class="ml-3"
                              *ngIf="circuitBreaker.length > 0"
                              >{{
                                'police.setTariff.circuitBreaker' | translate
                              }}</label
                            >
                            <angular2-multiselect
                              [data]="circuitBreakerList"
                              [(ngModel)]="circuitBreaker"
                              name="circuitBreaker"
                              (onSelect)="progressBarAdd('6')"
                              [settings]="circuitBreakersDropdownSettings"
                            >
                            </angular2-multiselect>
                          </div>
                        </div>

                        <!-- HIGH LOW AND TOTAL COST -->
                        <div
                          class="row mb-3"
                          *ngIf="circuitBreaker.length > 0"
                          [@inOutAnimation]
                        >
                          <div class="col-12 ml-3">
                            <h5 class="mb-3">
                              {{ 'police.setTariff.annual' | translate }}
                            </h5>
                          </div>

                          <div *ngIf="isRateTwoTariff; else isNotTwoTariff">
                            <div class="col-12">
                              <div class="row">
                                <div
                                  class="col-12 col-sm-4 col-md-6 vertical-center"
                                >
                                  <label
                                    for="consumptionHigh"
                                    class="ml-3 mb-sm-3"
                                    >{{
                                      'police.setTariff.high' | translate
                                    }}</label
                                  >
                                </div>
                                <div
                                  class="input-group col-9 col-sm-8 col-md-6 text-sm-right"
                                  [ngClass]="{
                                    'input-group-focus': focus[0] === true
                                  }"
                                >
                                  <input
                                    name="consumptionHigh"
                                    type="number"
                                    [(ngModel)]="consumptionHigh"
                                    class="form-control fix-height"
                                    required
                                    placeholder="{{
                                      'police.setTariff.elUnits' | translate
                                    }}"
                                    (input)="progressBarAdd('7')"
                                    (focus)="focus[0] = true"
                                    (blur)="focus[0] = false"
                                  />
                                  <div class="input-group-append fix-height">
                                    <span class="input-group-text">
                                      {{
                                        'police.tracking.valueUnits' | translate
                                      }}
                                    </span>
                                  </div>
                                  <!-- </div> -->
                                </div>
                              </div>

                              <!-- <div class="row"> -->
                            </div>

                            <div class="col-12">
                              <div class="row">
                                <div
                                  class="col-12 col-sm-4 col-md-6 vertical-center"
                                >
                                  <label for="consumptionLow" class="ml-3">{{
                                    'police.setTariff.low' | translate
                                  }}</label>
                                </div>
                                <div
                                  class="input-group col-9 col-sm-8 col-md-6 text-sm-right"
                                  [ngClass]="{
                                    'input-group-focus': focus[1] === true
                                  }"
                                >
                                  <input
                                    name="consumptionLow"
                                    type="number"
                                    [(ngModel)]="consumptionLow"
                                    class="form-control fix-height"
                                    required
                                    placeholder="{{
                                      'police.setTariff.elUnits' | translate
                                    }}"
                                    (input)="progressBarAdd('8')"
                                    (focus)="focus[1] = true"
                                    (blur)="focus[1] = false"
                                  />
                                  <div class="input-group-append fix-height">
                                    <span class="input-group-text">
                                      {{
                                        'police.tracking.valueUnits' | translate
                                      }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <ng-template #isNotTwoTariff>
                            <div class="col-12">
                              <div class="row">
                                <div
                                  class="col-12 col-sm-4 col-md-6 vertical-center"
                                >
                                  <label
                                    for="consumptionHigh"
                                    class="ml-3 mb-sm-3"
                                    >Consumption</label
                                  >
                                </div>
                                <div
                                  class="input-group col-9 col-sm-8 col-md-6 text-sm-right"
                                  [ngClass]="{
                                    'input-group-focus': focus[3] === true
                                  }"
                                >
                                  <input
                                    name="consumptionHigh"
                                    type="number"
                                    [(ngModel)]="consumptionHigh"
                                    class="form-control fix-height"
                                    required
                                    placeholder="{{
                                      'police.setTariff.elUnits' | translate
                                    }}"
                                    (input)="
                                      progressBarAdd('7'); progressBarAdd('8')
                                    "
                                    (focus)="focus[3] = true"
                                    (blur)="focus[3] = false"
                                  />
                                  <div class="input-group-append fix-height">
                                    <span class="input-group-text">
                                      {{
                                        'police.tracking.valueUnits' | translate
                                      }}
                                    </span>
                                  </div>
                                  <!-- </div> -->
                                </div>
                              </div>

                              <!-- <div class="row"> -->
                            </div>
                          </ng-template>

                          <div class="col-12">
                            <div class="row">
                              <div
                                class="col-12 col-sm-4 col-md-6 vertical-center"
                              >
                                <label for="totalCost" class="ml-3">{{
                                  'police.setTariff.annualCost' | translate
                                }}</label>
                              </div>
                              <div
                                class="input-group col-9 col-sm-8 col-md-6 text-sm-right"
                                [ngClass]="{
                                  'input-group-focus': focus[2] === true
                                }"
                              >
                                <input
                                  name="totalCost"
                                  type="number"
                                  [(ngModel)]="totalCost"
                                  class="form-control fix-height"
                                  required
                                  placeholder="{{
                                    'police.setTariff.annualCost' | translate
                                  }}"
                                  (input)="progressBarAdd('9')"
                                  (focus)="focus[2] = true"
                                  (blur)="focus[2] = false"
                                />
                                <div class="input-group-append fix-height">
                                  <span class="input-group-text">
                                    {{ currency }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- BILLING PERIOD SELECTION -->
                        <div
                          class="row mb-3"
                          *ngIf="totalCost"
                          [@inOutAnimation]
                        >
                          <div class="col-12 ml-3">
                            <h5 class="mb-3">
                              {{ 'police.setTariff.period' | translate }}
                            </h5>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <input
                                name="accountingFrom"
                                class="form-control fix-height datetimepicker"
                                [(ngModel)]="accountingFrom"
                                [owlDateTime]="dt1"
                                [owlDateTimeTrigger]="dt1"
                                placeholder="{{
                                  'police.setTariff.from' | translate
                                }}"
                                (dateTimeInput)="progressBarAdd('10')"
                              />
                              <owl-date-time
                                [pickerType]="'calendar'"
                                #dt1
                              ></owl-date-time>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="form-group">
                              <input
                                name="accountingTo"
                                class="form-control fix-height datetimepicker"
                                [(ngModel)]="accountingTo"
                                [owlDateTime]="dt2"
                                [owlDateTimeTrigger]="dt2"
                                placeholder="{{
                                  'police.setTariff.to' | translate
                                }}"
                                (dateTimeInput)="progressBarAdd('11')"
                              />
                              <owl-date-time
                                [pickerType]="'calendar'"
                                #dt2
                              ></owl-date-time>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- CONTRACT MORE INFO -->
                      <div
                        class="row d-flex justify-content-center"
                        *ngIf="accountingTo"
                        [@inOutAnimation]
                      >
                        <div class="col-12 col-md-6">
                          <!-- <div class="card">
                            <div class="card-body px-4"> -->
                          <hr />

                          <h5 class="ml-4 pl-1">
                            {{ 'police.setTariff.contractAtHand' | translate }}
                          </h5>

                          <div
                            class="row d-flex justify-content-center"
                            *ngIf="!addContract"
                          >
                            <div class="col">
                              <div class="info info-hover py-2">
                                <button
                                  type="button"
                                  class="icon icon-success icon-circle icon-button"
                                  (click)="onClickAddContract()"
                                >
                                  <i class="now-ui-icons ui-1_simple-add"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="row" *ngIf="addContract">
                            <div class="col-12 text-center">
                              <h5 class="mb-0">
                                {{
                                  'police.setTariff.contractDuration'
                                    | translate
                                }}
                              </h5>
                              <div
                                class="btn-group btn-group-toggle"
                                ngbRadioGroup
                                #rad4
                                name="durationSelection"
                                [(ngModel)]="durationSelection"
                                (change)="progressBarAdd('12')"
                              >
                                <label
                                  ngbButtonLabel
                                  class="btn btn-simple btn-round mr-1 mr-md-3"
                                >
                                  <input
                                    ngbButton
                                    type="radio"
                                    value="indefinite"
                                  />
                                  {{
                                    'police.setTariff.indefinite' | translate
                                  }}
                                </label>
                                <label
                                  ngbButtonLabel
                                  class="btn btn-simple btn-round"
                                >
                                  <input
                                    ngbButton
                                    type="radio"
                                    value="definite"
                                  />
                                  {{ 'police.setTariff.definite' | translate }}
                                </label>
                              </div>
                            </div>
                            <div class="col-12 text-center">
                              <div
                                class="row mt-3"
                                *ngIf="durationSelection === 'definite'"
                              >
                                <div
                                  class="form-group col-auto ml-auto mr-auto"
                                  style="max-width: 300px;"
                                >
                                  <input
                                    name="definiteDuration"
                                    class="form-control fix-height datetimepicker"
                                    [(ngModel)]="definiteDuration"
                                    [owlDateTime]="dt3"
                                    [owlDateTimeTrigger]="dt3"
                                    placeholder="{{
                                      'police.estimate.contractExpires'
                                        | translate
                                    }}"
                                  />
                                  <owl-date-time
                                    [pickerType]="'calendar'"
                                    #dt3
                                  ></owl-date-time>
                                </div>
                              </div>
                              <div
                                class="form-check"
                                *ngIf="durationSelection === 'definite'"
                              >
                                <label class="form-check-label">
                                  <input
                                    class="form-check-input"
                                    type="checkbox"
                                    name="autoContractExtension"
                                    [(ngModel)]="autoContractExtension"
                                  />
                                  <span class="form-check-sign"></span>
                                  {{
                                    'police.setTariff.contractExtension'
                                      | translate
                                  }}
                                </label>
                              </div>
                              <div class="row mt-4">
                                <div class="col-auto ml-auto mr-auto">
                                  <div class="row">
                                    <label
                                      for="customerNumber"
                                      class="ml-4"
                                      *ngIf="customerNumber"
                                      >{{
                                        'police.setTariff.customerNumber'
                                          | translate
                                      }}</label
                                    >
                                  </div>
                                  <div class="row">
                                    <div
                                      class="form-group col-auto"
                                      style="max-width: 300px;"
                                    >
                                      <input
                                        name="customerNumber"
                                        type="text"
                                        [(ngModel)]="customerNumber"
                                        class="form-control fix-height"
                                        (input)="progressBarAdd('13')"
                                        placeholder="{{
                                          'police.setTariff.customerNumber'
                                            | translate
                                        }}"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr />
                        </div>
                      </div>

                      <div class="text-center">
                        <div
                          class="progress-container progress-primary text-left"
                        >
                          <span class="progress-badge">{{
                            'police.setTariff.progress' | translate
                          }}</span>

                          <ngb-progressbar [value]="progressBar"
                            ><span class="progress-value"
                              >{{ progressBar | number: '1.0-0' }}%</span
                            ></ngb-progressbar
                          ><br />
                        </div>
                        <button
                          class="btn btn-primary btn-round btn-lg"
                          (click)="setRouter('track')"
                          type="submit"
                          [disabled]="
                            !tariffsForm.valid ||
                            !placeSelection ||
                            !totalCost ||
                            rate[0]?.id === -1 ||
                            circuitBreaker[0]?.id === -1
                          "
                        >
                          <span>{{
                            'police.setTariff.track' | translate
                          }}</span>
                        </button>
                        <br />
                        <button
                          class="btn btn-primary btn-round btn-lg"
                          (click)="setRouter('tariff-compare')"
                          type="submit"
                          [disabled]="
                            !tariffsForm.valid ||
                            !placeSelection ||
                            !totalCost ||
                            rate[0]?.id === -1 ||
                            circuitBreaker[0]?.id === -1
                          "
                        >
                          <span>{{
                            'police.setTariff.compare' | translate
                          }}</span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
