<div class="wrapper">
  <div class="main">
    <div class="content">
      <div class="container">
        <div class="col-md-10 ml-auto mr-auto">
          <h2
            class="card-title text-center initial"
            style="padding-bottom: 40px;"
          >
            Home
            <button
              class="btn btn-info btn-sm btn-round my-1"
              (click)="
                showHistorySupplyPoint = false;
                editSupplyPoint = !editSupplyPoint
              "
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Edit
            </button>
            <button
              class="btn btn-primary btn-sm btn-round my-1"
              (click)="
                showHistorySupplyPoint = !showHistorySupplyPoint;
                editSupplyPoint = false
              "
            >
              Show history
            </button>
          </h2>
          <div class="row">
            <div class="col-12">
              <div
                class="card"
                style="
                  background-color: transparent;
                  border: 1px solid white;
                  color: white;
                "
              >
                <div class="card-body">
                  <div *ngIf="editSupplyPoint">
                    <button class="btn btn-sm btn-round btn-primary">
                      Add new meter
                    </button>
                    <button class="btn btn-sm btn-round" disabled>
                      Edit meter
                    </button>
                  </div>
                  <p><i class="fa fa-bolt"></i>&nbsp;Electricity</p>
                  <p>1254 Deafult Street</p>
                  <p>Meter number: 123456</p>
                  <p>EAN: 567890</p>
                  <p>Distributor: ČEZ</p>
                  <div *ngIf="editSupplyPoint">
                    <label for="meter">Final meter value:</label>
                    <input
                      name="meter"
                      style="max-width: 350px; color: white;"
                      type="text"
                      class="form-control fix-height"
                      value="200 000 kWh"
                    />
                    <br />
                    <p>New meter:</p>
                    <label for="number">Meter number:</label>
                    <input
                      name="number"
                      style="max-width: 350px; color: white;"
                      type="text"
                      class="form-control fix-height"
                      value="123456"
                    />
                    <label for="ean">EAN:</label>
                    <input
                      name="ean"
                      style="max-width: 350px; color: white;"
                      type="text"
                      class="form-control fix-height"
                      value="567890"
                    />
                    <label for="meter">Start meter value:</label>
                    <input
                      name="meter"
                      style="max-width: 350px; color: white;"
                      type="text"
                      class="form-control fix-height"
                      value="123 kWh"
                    />

                    <br />
                    <label for="from">Meter changed:</label>
                    <input
                      name="from"
                      style="max-width: 350px; color: white;"
                      type="text"
                      class="form-control fix-height"
                      value="1.1.2020"
                    />
                    <br />
                    <button class="btn btn-primary btn-sm btn-round my-1">
                      Save
                    </button>
                  </div>

                  <div *ngIf="showHistorySupplyPoint">
                    <hr style="border-top: 1px solid white; margin: 7px 0;" />
                    <p>Previous meter</p>
                    <p>Meter number: 098765</p>
                    <p>Start/End state: 123/345877 kWh</p>
                    <p>Used: 1.1.2018 - 31.12.2019</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row d-flex justify-content-center mb-4">
            <div class="text-center">
              <button class="btn btn-primary btn-round">
                <span>History</span>
              </button>
            </div>
            <div class="text-center">
              <button class="btn btn-primary btn-round">
                <span>Add Tariff</span>
              </button>
            </div>
            <div class="text-center">
              <button
                class="btn btn-primary btn-round"
                [routerLink]="'/light/estimate'"
              >
                <span>Estimate Tariff</span>
              </button>
            </div>
          </div>

          <div class="row">
            <!-- UPLOAD DOCS COMPONENT -->
            <!-- <div class="card tracking-card">
              <div class="card-body py-1 px-2">
                 <h4 class="card-title ml-2">Upload bill</h4>
                  <button class="btn btn-primary btn-round">
                    Photograph document
                  </button>
                  <button class="btn btn-primary btn-round">
                    Choose from device
                  </button> 
                <div class="info info-horizontal">
                  <div class="icon icon-primary icon-circle">
                    <i class="fa fa-file-o"></i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Contract document</h4>
                    <button class="btn btn-primary btn-round btn-sm">
                      View
                    </button>
                    <button class="btn btn-info btn-round btn-sm">
                      Reupload
                    </button>
                    <button class="btn btn-danger btn-round btn-sm">
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- TARIFF INFO -->
            <div class="card tracking-card">
              <div class="card-body py-1 px-2">
                <div
                  class="info info-horizontal col-12"
                  style="max-width: none;"
                >
                  <div class="row">
                    <div
                      class="icon icon-primary text-right"
                      style="position: absolute; left: 0.5rem;"
                    >
                      <i class="fa fa-bolt"></i>
                    </div>

                    <div class="col-12 col-sm-9 pl-5">
                      <div class="description">
                        <div style="cursor: pointer;">
                          <h4 class="info-title px-3">
                            Your current tariff
                            <br />
                            <small
                              >this tariff was estimated, click <b>here</b> to
                              fill more info</small
                            >
                          </h4>
                        </div>

                        <p>
                          {{ 'police.supplyPoints.product' | translate }}: Yello
                          Energy, Yello watt
                        </p>
                        <p>
                          Rate: D26d - water heating
                        </p>
                        <p>
                          Circuit breaker: 3x10 A
                        </p>
                        <p>
                          {{ 'police.supplyPoints.durationTo' | translate }}
                          12.3.2021,
                          {{ 'police.supplyPoints.autoRenewal' | translate }}
                        </p>
                        <p>
                          Billing period: annual, 2.6.
                        </p>
                        <p class="mt-1">
                          <b>Current billing period</b> - 1.1.2020 - 1.1.2021
                        </p>
                        <p class="ml-1">
                          Cost: 6 735 CZK <i class="fa fa-caret-down"></i>
                        </p>
                        <p class="ml-1">
                          {{ 'police.supplyPoints.lowTariff' | translate }}: 200
                          kWh
                        </p>
                        <p class="ml-1">
                          {{ 'police.supplyPoints.highTariff' | translate }}:
                          100 kWh
                        </p>
                        <p class="mt-1">
                          <b>Last billing period</b> - 1.1.2019 - 1.1.2020
                        </p>
                        <p class="ml-1 mb-1">
                          Cost: 15 000 CZK <i class="fa fa-caret-up"></i>
                        </p>
                        <ul style="color: grey;">
                          <li>Distribution: 5 000 CZK</li>
                          <li>Provision: 5 000 CZK</li>
                          <li>State: 5 000 CZK</li>
                        </ul>
                        <p class="ml-1">
                          {{ 'police.supplyPoints.lowTariff' | translate }}:
                          1000 kWh
                        </p>
                        <p class="ml-1 mb-1">
                          {{ 'police.supplyPoints.highTariff' | translate }}:
                          2000 kWh
                        </p>

                        <!-- NEW BILLING -->
                        <div class="row mb-3" style="color: black;">
                          <div class="col-12 ml-3">
                            <h5 class="mb-3">
                              New billing
                            </h5>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <input
                                name="accountingFrom"
                                class="form-control fix-height datetimepicker"
                                [owlDateTime]="dt1"
                                [owlDateTimeTrigger]="dt1"
                                placeholder="{{
                                  'police.setTariff.from' | translate
                                }}"
                              />
                              <owl-date-time
                                [pickerType]="'calendar'"
                                #dt1
                              ></owl-date-time>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="form-group">
                              <input
                                name="accountingTo"
                                class="form-control fix-height datetimepicker"
                                [owlDateTime]="dt2"
                                [owlDateTimeTrigger]="dt2"
                                placeholder="{{
                                  'police.setTariff.to' | translate
                                }}"
                              />
                              <owl-date-time
                                [pickerType]="'calendar'"
                                #dt2
                              ></owl-date-time>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3" style="color: black;">
                          <div class="col-12">
                            <div class="row">
                              <div
                                class="col-12 col-sm-4 col-md-6 vertical-center"
                              >
                                <label
                                  for="consumptionHigh"
                                  class="ml-3 mb-sm-3"
                                  >{{
                                    'police.setTariff.high' | translate
                                  }}</label
                                >
                              </div>
                              <div
                                class="input-group col-9 col-sm-8 col-md-6 text-sm-right"
                              >
                                <input
                                  name="consumptionHigh"
                                  type="number"
                                  class="form-control fix-height"
                                  required
                                  placeholder="{{
                                    'police.setTariff.elUnits' | translate
                                  }}"
                                  value="1000"
                                />
                                <div class="input-group-append fix-height">
                                  <span class="input-group-text">
                                    {{
                                      'police.tracking.valueUnits' | translate
                                    }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-12">
                            <div class="row">
                              <div
                                class="col-12 col-sm-4 col-md-6 vertical-center"
                              >
                                <label for="consumptionLow" class="ml-3">{{
                                  'police.setTariff.low' | translate
                                }}</label>
                              </div>
                              <div
                                class="input-group col-9 col-sm-8 col-md-6 text-sm-right"
                              >
                                <input
                                  name="consumptionLow"
                                  type="number"
                                  class="form-control fix-height"
                                  required
                                  placeholder="{{
                                    'police.setTariff.elUnits' | translate
                                  }}"
                                  value="900"
                                />
                                <div class="input-group-append fix-height">
                                  <span class="input-group-text">
                                    {{
                                      'police.tracking.valueUnits' | translate
                                    }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="row">
                              <div
                                class="col-12 col-sm-4 col-md-6 vertical-center"
                              >
                                <label for="totalCost" class="ml-3">Cost</label>
                              </div>
                              <div
                                class="input-group col-9 col-sm-8 col-md-6 text-sm-right"
                              >
                                <input
                                  name="totalCost"
                                  type="number"
                                  class="form-control fix-height"
                                  required
                                  placeholder="{{
                                    'police.setTariff.annualCost' | translate
                                  }}"
                                  value="20000"
                                />
                                <div class="input-group-append fix-height">
                                  <span class="input-group-text">
                                    CZK
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <h5 class="card-title ml-2">Upload</h5>

                      <input
                        name="provider"
                        style="max-width: 353px;"
                        type="text"
                        class="form-control fix-height"
                        value="Billing"
                      />
                      <button class="btn btn-primary btn-round">
                        Photograph document
                      </button>
                      <button class="btn btn-primary btn-round">
                        Choose from device
                      </button>
                      <div class="row justify-content-end pr-3 pt-2">
                        <div class="col-auto col-sm-12 px-0">
                          <button
                            class="btn btn-primary btn-sm ml-4 btn-round my-1"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-3 text-right">
                      <div class="row justify-content-end pr-3 pt-2">
                        <div class="col-auto col-sm-12 px-0">
                          <button class="btn btn-primary btn-sm btn-round my-1">
                            Add document
                          </button>
                        </div>
                        <div class="col-auto col-sm-12 px-0">
                          <button
                            class="btn btn-primary active btn-sm btn-round my-1"
                          >
                            Add new bill
                          </button>
                        </div>
                        <div class="col-auto col-sm-12 px-0">
                          <button class="btn btn-danger btn-sm btn-round my-1">
                            Delete
                          </button>
                        </div>
                        <div class="col-auto col-sm-12 px-0">
                          <button class="btn btn-info btn-sm btn-round my-1">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Edit Tariff
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card card-plain">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th>Doc name</th>
                            <th>Doc type</th>
                            <th class="text-right">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-center">1</td>
                            <td>AAAbbb.jpg</td>
                            <td>Contract</td>
                            <td class="td-actions text-right">
                              <button
                                type="button"
                                ngbTooltip="Reupload"
                                class="btn btn-info btn-icon btn-sm mr-1"
                              >
                                <i class="fa fa-cloud-upload"></i>
                              </button>
                              <button
                                type="button"
                                ngbTooltip="View"
                                class="btn btn-success btn-icon btn-sm mr-1"
                              >
                                <i class="fa fa-eye"></i>
                              </button>
                              <button
                                type="button"
                                ngbTooltip="Remove"
                                class="btn btn-danger btn-icon btn-sm"
                              >
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">2</td>
                            <td>BBBaaa.jpg</td>
                            <td>Something else</td>
                            <td class="td-actions text-right">
                              <button
                                type="button"
                                ngbTooltip="Reupload"
                                class="btn btn-info btn-icon btn-sm mr-1"
                              >
                                <i class="fa fa-cloud-upload"></i>
                              </button>
                              <button
                                type="button"
                                ngbTooltip="View"
                                class="btn btn-success btn-icon btn-sm mr-1"
                              >
                                <i class="fa fa-eye"></i>
                              </button>
                              <button
                                type="button"
                                ngbTooltip="Remove"
                                class="btn btn-danger btn-icon btn-sm"
                              >
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">-</td>
                            <td></td>
                            <td></td>
                            <td class="td-actions text-right">
                              <button
                                type="button"
                                ngbTooltip="Add document"
                                class="btn btn-success btn-icon btn-sm"
                              >
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- DOCUMENT COMPONENT AFTER UPLOAD -->
                <!-- <div class="info info-horizontal">
                  <div class="icon icon-primary icon-circle">
                    <i class="fa fa-file-o"></i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Billing document</h4>
                    <button class="btn btn-primary btn-round btn-sm">
                      View
                    </button>
                    <button class="btn btn-info btn-round btn-sm">
                      Reupload
                    </button>
                    <button class="btn btn-danger btn-round btn-sm">
                      Delete
                    </button>
                  </div>
                </div> -->
              </div>
            </div>

            <!-- TARIFF BEING EDITED -->
            <div class="card tracking-card">
              <div class="card-body py-1 px-2">
                <div
                  class="info info-horizontal col-12"
                  style="max-width: none;"
                >
                  <div class="row">
                    <div
                      class="icon icon-primary text-right"
                      style="position: absolute; left: 0.5rem;"
                    >
                      <i class="fa fa-bolt"></i>
                    </div>

                    <div class="col-12 col-sm-9 pl-5">
                      <div class="description">
                        <div style="cursor: pointer;">
                          <h4 class="info-title px-3">
                            Your future tariff
                          </h4>
                        </div>

                        <div
                          class="col-auto ml-auto mr-auto mt-3"
                          style="color: black;"
                        >
                          <div class="row">
                            <div class="col-12 my-3">
                              <label for="provider" class="ml-3">{{
                                'police.setTariff.provider' | translate
                              }}</label>
                              <input
                                name="provider"
                                style="max-width: 350px;"
                                type="text"
                                class="form-control fix-height"
                                required
                                placeholder="{{
                                  'police.setTariff.elUnits' | translate
                                }}"
                                value="Bohemia Energy"
                              />
                            </div>
                            <div class="col-12 mb-3">
                              <label for="provider" class="ml-3">{{
                                'police.setTariff.tariff' | translate
                              }}</label>
                              <input
                                name="provider"
                                style="max-width: 350px;"
                                type="text"
                                class="form-control fix-height"
                                required
                                placeholder="{{
                                  'police.setTariff.elUnits' | translate
                                }}"
                                value="Be Relax Promo"
                              />
                            </div>
                          </div>

                          <!-- RATE AND CIRCUIT BREAKER SELECTION -->
                          <div class="row">
                            <div class="col-12 ml-3">
                              <h5 class="mb-3">
                                {{ 'police.setTariff.supplyPoint' | translate }}
                              </h5>
                            </div>
                            <div class="col-12 mb-3">
                              <label for="rate" class="ml-3">{{
                                'police.setTariff.rate' | translate
                              }}</label>
                              <input
                                name="rate"
                                style="max-width: 350px;"
                                type="text"
                                class="form-control fix-height"
                                required
                                placeholder="{{
                                  'police.setTariff.elUnits' | translate
                                }}"
                                value="D25d"
                              />
                            </div>
                            <div class="col-12 mb-3">
                              <label for="circuitBreaker" class="ml-3">{{
                                'police.setTariff.circuitBreaker' | translate
                              }}</label>
                              <input
                                name="circuitBreaker"
                                style="max-width: 350px;"
                                type="text"
                                class="form-control fix-height"
                                required
                                placeholder="{{
                                  'police.setTariff.elUnits' | translate
                                }}"
                                value="3x10 A"
                              />
                            </div>
                          </div>

                          <!-- HIGH LOW AND TOTAL COST -->
                          <div class="row mb-3">
                            <div class="col-12 ml-3">
                              <h5 class="mb-3">
                                {{ 'police.setTariff.annual' | translate }}
                              </h5>
                            </div>

                            <div>
                              <div class="col-12">
                                <div class="row">
                                  <div
                                    class="col-12 col-sm-4 col-md-6 vertical-center"
                                  >
                                    <label
                                      for="consumptionHigh"
                                      class="ml-3 mb-sm-3"
                                      >{{
                                        'police.setTariff.high' | translate
                                      }}</label
                                    >
                                  </div>
                                  <div
                                    class="input-group col-9 col-sm-8 col-md-6 text-sm-right"
                                  >
                                    <input
                                      name="consumptionHigh"
                                      type="number"
                                      class="form-control fix-height"
                                      required
                                      placeholder="{{
                                        'police.setTariff.elUnits' | translate
                                      }}"
                                      (focus)="focus[0] = true"
                                      (blur)="focus[0] = false"
                                    />
                                    <div class="input-group-append fix-height">
                                      <span class="input-group-text">
                                        {{
                                          'police.tracking.valueUnits'
                                            | translate
                                        }}
                                      </span>
                                    </div>
                                    <!-- </div> -->
                                  </div>
                                </div>

                                <!-- <div class="row"> -->
                              </div>

                              <div class="col-12">
                                <div class="row">
                                  <div
                                    class="col-12 col-sm-4 col-md-6 vertical-center"
                                  >
                                    <label for="consumptionLow" class="ml-3">{{
                                      'police.setTariff.low' | translate
                                    }}</label>
                                  </div>
                                  <div
                                    class="input-group col-9 col-sm-8 col-md-6 text-sm-right"
                                  >
                                    <input
                                      name="consumptionLow"
                                      type="number"
                                      class="form-control fix-height"
                                      required
                                      placeholder="{{
                                        'police.setTariff.elUnits' | translate
                                      }}"
                                      (focus)="focus[1] = true"
                                      (blur)="focus[1] = false"
                                    />
                                    <div class="input-group-append fix-height">
                                      <span class="input-group-text">
                                        {{
                                          'police.tracking.valueUnits'
                                            | translate
                                        }}
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-12">
                              <div class="row">
                                <div
                                  class="col-12 col-sm-4 col-md-6 vertical-center"
                                >
                                  <label for="totalCost" class="ml-3">{{
                                    'police.setTariff.annualCost' | translate
                                  }}</label>
                                </div>
                                <div
                                  class="input-group col-9 col-sm-8 col-md-6 text-sm-right"
                                >
                                  <input
                                    name="totalCost"
                                    type="number"
                                    class="form-control fix-height"
                                    required
                                    placeholder="{{
                                      'police.setTariff.annualCost' | translate
                                    }}"
                                    (focus)="focus[2] = true"
                                    (blur)="focus[2] = false"
                                  />
                                  <div class="input-group-append fix-height">
                                    <span class="input-group-text">
                                      CZK
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- BILLING PERIOD SELECTION -->
                          <div class="row mb-3">
                            <div class="col-12 ml-3">
                              <h5 class="mb-3">
                                {{ 'police.setTariff.period' | translate }}
                              </h5>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                <input
                                  name="accountingFrom"
                                  class="form-control fix-height datetimepicker"
                                  [owlDateTime]="dt3"
                                  [owlDateTimeTrigger]="dt3"
                                  placeholder="{{
                                    'police.setTariff.from' | translate
                                  }}"
                                />
                                <owl-date-time
                                  [pickerType]="'calendar'"
                                  #dt3
                                ></owl-date-time>
                              </div>
                            </div>

                            <div class="col-6">
                              <div class="form-group">
                                <input
                                  name="accountingTo"
                                  class="form-control fix-height datetimepicker"
                                  [owlDateTime]="dt4"
                                  [owlDateTimeTrigger]="dt4"
                                  placeholder="{{
                                    'police.setTariff.to' | translate
                                  }}"
                                />
                                <owl-date-time
                                  [pickerType]="'calendar'"
                                  #dt4
                                ></owl-date-time>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-3 text-right">
                      <div class="row justify-content-end pr-3 pt-2">
                        <div class="col-auto col-sm-12 px-0">
                          <button class="btn btn-primary btn-sm btn-round my-1">
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
