<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container">
        <div
          class="col-md-10 ml-auto mr-auto"
          *ngIf="(isLoggedIn | async) === false"
        >
          <h2
            class="card-title text-center initial"
            style="padding-bottom: 40px;"
          >
            {{ 'police.landing.userLoggedOut.title' | translate }}
          </h2>
          <button
            class="btn btn-primary btn-round btn-lg"
            [routerLink]="['/login']"
          >
            <span>{{
              'police.landing.userLoggedOut.buttonTitle' | translate
            }}</span>
          </button>
        </div>
        <div class="col-md-10 ml-auto mr-auto" *ngIf="isLoggedIn | async">
          <h2
            class="card-title text-center initial"
            style="padding-bottom: 40px;"
          >
            {{ 'police.landing.title' | translate }}
          </h2>

          <div class="row d-flex justify-content-center mb-4">
            <!-- ELECTRICITY/GAS AND SUPPLY POINT INFO -->
            <div
              class="col-12 text-center"
              *ngIf="!isNewTariff && selectedEnergy"
            >
              <div class="btn-group-toggle">
                <label class="btn btn-check btn-lg">
                  <i
                    class="fa"
                    [ngClass]="energySelection[selectedEnergy].icon"
                  ></i>
                  {{ energySelection[selectedEnergy].name }} -
                  {{ supplyPointName | async }}
                </label>
              </div>
            </div>
          </div>

          <div
            *ngIf="isEmptyTariff; else track"
            class="row d-flex justify-content-center"
          >
            <!-- ELECTRICITY/GAS SELECTION -->
            <div class="col-12 text-center" *ngIf="isNewTariff">
              <h5 class="mb-1 mt-3" style="color: white;">
                First, what kind of energy do you want for cheaper?
              </h5>
              <div class="btn-group-toggle">
                <label
                  *ngFor="let energy of energySelection | keyvalue"
                  [class.active]="energy.value.checked"
                  class="btn btn-check btn-round btn-lg mr-1 mr-md-3"
                >
                  <i class="fa" [ngClass]="energy.value.icon"></i>
                  <input
                    [(ngModel)]="energy.value.checked"
                    (click)="onEnergyClick(energy.key)"
                    type="radio"
                    [disabled]="energy.key === 'gas'"
                  />
                  {{ energy.value.name }}
                </label>
              </div>
            </div>

            <div class="col-12 text-center">
              <h5 class="mb-1 mt-3" style="color: white;">
                {{ 'police.landing.atHand' | translate }}
              </h5>
              <button
                class="btn btn-primary btn-round btn-lg"
                (click)="createdTariff = true"
                [routerLink]="['/police/set-tariff']"
                queryParamsHandling="preserve"
                [disabled]="!selectedEnergy"
              >
                <span>{{ 'police.landing.buttonTitle' | translate }}</span>
              </button>
            </div>
            <div class="col-12 text-center">
              <h5 class="mb-1 mt-3" style="color: white;">
                {{ 'police.landing.notSure' | translate }}
              </h5>
              <button
                class="btn btn-primary btn-round btn-lg"
                (click)="createdTariff = true"
                [routerLink]="['/police/estimate']"
                queryParamsHandling="preserve"
                [disabled]="!selectedEnergy"
              >
                <span>{{ 'police.landing.estimateTariff' | translate }}</span>
              </button>
            </div>
            <div class="col-12 text-center">
              <h5 class="mb-1 mt-3" style="color: white;">
                {{ 'police.landing.orJustStart' | translate }}
              </h5>
              <button
                class="btn btn-primary btn-round btn-lg"
                (click)="createdTariff = true"
                [routerLink]="['/police/track']"
                queryParamsHandling="preserve"
                [disabled]="!selectedEnergy"
              >
                <span>{{ 'police.landing.trackButton' | translate }}</span>
              </button>
            </div>
          </div>
          <ng-template #track>
            <div *ngIf="$userTariff | async as userTariff">
              <div class="row">
                <div class="col-6" style="border-right: 1px solid gray;">
                  <div class="info-horizontal">
                    <div class="description text-right">
                      <h5 class="info-title initial">
                        {{ 'police.landing.yourTariff' | translate }}
                      </h5>
                      <div class="pr-3" *ngIf="userTariff">
                        <p class="description mb-0">
                          {{ userTariff.name }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="info-horizontal">
                    <div class="description">
                      <h5 class="info-title initial">
                        {{ 'police.landing.annualCon' | translate }}
                      </h5>
                      <div
                        class="pl-3"
                        *ngIf="!userTariff.periodSummary.isTwoTariff"
                      >
                        <p class="description mb-1">
                          {{
                            userTariff.periodSummary.annualCost
                              | number: '1.0-0':lang
                          }}
                          {{ userTariff.currency }}
                        </p>
                        <p class="description mb-0">
                          {{
                            (userTariff.periodSummary.annualConsumption
                              | number: '1.0-0':lang) || '?'
                          }}
                          kWh
                        </p>
                      </div>
                      <div
                        class="pl-3"
                        *ngIf="userTariff.periodSummary.isTwoTariff"
                      >
                        <p class="description mb-1">
                          {{
                            userTariff.periodSummary.annualCost
                              | number: '1.0-0':lang
                          }}
                          {{ userTariff.currency }}
                        </p>
                        <p class="description mb-0">
                          {{ 'police.landing.lowTariff' | translate }}
                          {{
                            (userTariff.periodSummary.annualConsumptionLow
                              | number: '1.0-0':lang) || '?'
                          }}
                          kWh
                        </p>
                        <p class="description mb-0">
                          {{ 'police.landing.highTariff' | translate }}
                          {{
                            (userTariff.periodSummary.annualConsumption
                              | number: '1.0-0':lang) || '?'
                          }}
                          kWh
                        </p>
                      </div>
                      <div
                        *ngIf="
                          !userTariff.periodSummary.annualCost &&
                          !userTariff.periodSummary
                        "
                      >
                        <p class="description pl-3">
                          {{ 'police.landing.conUnknown' | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row d-flex justify-content-center">
                <div class="col-12 text-center">
                  <button
                    class="btn btn-primary btn-round btn-lg mt-4"
                    [routerLink]="['/police/track']"
                    [queryParams]="{
                      tariff: tariffUid,
                      supplyPoint: supplyPointUid
                    }"
                  >
                    <span>{{ 'police.landing.track' | translate }}</span>
                  </button>
                </div>
                <div class="col-12 text-center">
                  <button
                    class="btn btn-primary btn-round btn-lg mt-1"
                    [routerLink]="['/police/tariff-compare']"
                    [queryParams]="{
                      tariff: tariffUid,
                      supplyPoint: supplyPointUid
                    }"
                    [disabled]="
                      !userTariff.periodSummary &&
                      !userTariff.periodSummary.annualCost
                    "
                  >
                    <span>{{ 'police.landing.compare' | translate }}</span>
                  </button>
                </div>
                <div class="col-12 text-center">
                  <button
                    class="btn btn-primary btn-round btn-sm mt-3"
                    [routerLink]="['/police/set-tariff']"
                    [queryParams]="{
                      tariff: tariffUid,
                      supplyPoint: supplyPointUid,
                      emptyTariff: isEmptyTariff
                    }"
                  >
                    <span>{{
                      (userTariff.from === 'estimate'
                        ? 'Set tariff'
                        : 'police.landing.changeTariff'
                      ) | translate
                    }}</span>
                  </button>
                </div>
                <div
                  class="col-12 text-center"
                  *ngIf="userTariff.from !== 'estimate'"
                >
                  <button
                    class="btn btn-primary btn-round btn-sm btn-lg mt-1"
                    [routerLink]="['/police/upload-docs']"
                    queryParamsHandling="preserve"
                  >
                    <span>{{ 'police.landing.upload' | translate }}</span>
                  </button>
                </div>
                <div
                  class="col-12 text-center"
                  *ngIf="userTariff.from !== 'estimate'"
                >
                  <button
                    class="btn btn-primary btn-round btn-sm btn-lg mt-1"
                    [routerLink]="['/police/set-tariff']"
                    [queryParams]="{
                      tariff: tariffUid,
                      supplyPoint: supplyPointUid,
                      emptyTariff: true
                    }"
                    disabled
                  >
                    <span>Add new bill</span>
                  </button>
                </div>
                <div
                  class="col-12 text-center"
                  *ngIf="userTariff.from === 'estimate'"
                >
                  <button
                    class="btn btn-primary btn-round btn-sm mt-1"
                    [routerLink]="['/police/tariff-compare']"
                  >
                    <span>{{ 'police.landing.reestimate' | translate }}</span>
                  </button>
                </div>
                <div class="col-12 text-center">
                  <button
                    class="btn btn-danger btn-round btn-sm mt-1"
                    (click)="deleteTariff(supplyPointUid, tariffUid)"
                  >
                    <span>Delete tariff</span>
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
