<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container-lg">
        <div class="row">
          <div class="card">
            <h2 class="card-title initial text-center mb-0">
              {{ 'police.tariffCompare.title' | translate }}
            </h2>
            <h4 class="text-center mb-2 mb-md-5 mt-2">
              Home
            </h4>
            <!-- SORT PILLS -->
            <div class="row d-flex justify-content-center">
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-auto pl-0">
                    <h5 class="mt-2">
                      {{ 'police.tariffCompare.sortBy' | translate }}:
                    </h5>
                  </div>
                  <div class="col-auto">
                    <ngb-tabset
                      type="pills"
                      class="nav nav-pills nav-pills-primary justify-content-center tab-space"
                    >
                      <ngb-tab title="Savings" id="savings"> </ngb-tab>
                      <ngb-tab title="Provider" id="provider"> </ngb-tab>
                      <ngb-tab title="Rating" id="rating"> </ngb-tab>
                    </ngb-tabset>
                  </div>
                </div>
              </div>
            </div>

            <!-- FILTER ACCORDION -->
            <div class="row d-flex justify-content-center">
              <ngb-accordion
                #acc="ngbAccordion"
                class="card-plain col-11 col-sm-10"
                destroyOnHide="true"
              >
                <ngb-panel id="config-panel-one">
                  <ng-template ngbPanelTitle class="text-center">
                    <a
                      class="collapsed"
                      style="text-decoration: none; border: none;"
                    >
                      <div class="row">
                        <div class="col-2 col-sm-1">
                          <i
                            class="now-ui-icons arrows-1_minimal-down"
                            style="top: 5px;"
                          ></i>
                        </div>

                        <div class="col-10 col-sm-11 pl-0">
                          <h5 class="my-0">
                            {{ 'police.tariffCompare.filter' | translate }}
                          </h5>
                        </div>
                      </div>
                    </a>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row mt-3">
                      <div class="col-12 col-sm-4">
                        <label>{{
                          'police.tariffCompare.rating' | translate
                        }}</label>
                      </div>

                      <div class="col-12 col-md-8">
                        <div class="row">
                          <div class="col-3 vertical-center text-right">
                            5 <span class="fa fa-star checked"></span>
                          </div>
                          <div class="col-6">
                            <nouislider
                              class="slider slider-primary"
                              [config]="ratingConfig"
                            ></nouislider>
                          </div>
                          <div class="col-3 vertical-center">
                            <span class="fa fa-star"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mt-4">
                      <div class="col-12 col-sm-4">
                        <label>{{
                          'police.tariffCompare.contractDuration' | translate
                        }}</label>
                      </div>

                      <div class="col-12 col-md-8">
                        <div class="row">
                          <div class="col-3 vertical-center text-right">
                            {{ 'police.tariffCompare.indefinite' | translate }}
                          </div>
                          <div class="col-6">
                            <nouislider
                              class="slider slider-primary"
                              [config]="contractConfig"
                            ></nouislider>
                          </div>
                          <div class="col-3 vertical-center">
                            3+
                            {{ 'police.tariffCompare.years' | translate }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mt-4">
                      <div class="col-12 col-sm-4">
                        <label>
                          {{
                            'police.tariffCompare.fixedPrice' | translate
                          }}</label
                        >
                      </div>

                      <div class="col-12 col-md-8">
                        <div class="row">
                          <div class="col-3 vertical-center text-right">
                            {{ 'police.tariffCompare.notFixed' | translate }}
                          </div>
                          <div class="col-6">
                            <nouislider
                              class="slider slider-primary"
                              [config]="priceConfig"
                            ></nouislider>
                          </div>
                          <div class="col-3 vertical-center">
                            {{ 'police.tariffCompare.indefinite' | translate }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mt-4">
                      <div class="col-12 col-sm-4">
                        <label>{{
                          'police.tariffCompare.savings' | translate
                        }}</label>
                      </div>

                      <div class="col-12 col-md-8">
                        <div class="row">
                          <div class="col-3 vertical-center text-right">
                            0 CZK
                          </div>
                          <div class="col-6">
                            <nouislider
                              class="slider slider-primary"
                              [config]="savingsConfig"
                            ></nouislider>
                          </div>
                          <div class="col-3 vertical-center">
                            10 000+ CZK
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>

            <!-- USERTARIFF NOT SET CALL TO ACTION -->
            <div class="row d-flex justify-content-center">
              <div class="col-lg-11 card plain-card review-card">
                <div class="card-header">
                  <h4 class="card-title text-primary text-center">
                    Got 5 minutes?
                  </h4>
                </div>
                <p class="text-center">
                  The prices are only indicational, since you haven't filled out
                  all of your tariff info. Fill it out to see how much exactly
                  you can be saving.
                </p>
                <button
                  class="btn btn-primary btn-round ml-auto mr-auto"
                  style="display: block;"
                  [routerLink]="'/light/supply-point'"
                >
                  <span>Click here to fill tariff info</span>
                </button>
              </div>
            </div>

            <!-- TARIFF COMPARISONS -->
            <div class="col-12">
              <div class="row d-flex justify-content-center">
                <div class="card-body">
                  <div
                    *ngFor="let tariff of tariffCompare"
                    class="row d-flex justify-content-center"
                  >
                    <div class="col-lg-11 card tracking-card py-2">
                      <div class="row d-flex justify-content-center">
                        <div
                          class="col-12 col-md-10 col-lg-8 text-center vertical-center"
                        >
                          <div class="row">
                            <div
                              class="col-6 col-sm-3 text-right text-sm-left mt-1 mb-1"
                            >
                              <div class="card-image">
                                <img
                                  class="img"
                                  [src]="tariff.logo"
                                  alt="logo"
                                  style="max-height: 100px;"
                                />
                              </div>
                            </div>
                            <div class="col-6 col-sm-5">
                              <div class="text-left">
                                <div class="description">
                                  <h4 class="category my-2">
                                    <b> {{ tariff.tariffs[0].name }}</b>
                                  </h4>
                                  <h6
                                    class="category"
                                    [class.text-primary]="
                                      tariff.tariffs[0].savedAmount > 0
                                    "
                                    [class.text-info]="
                                      tariff.tariffs[0].savedAmount === 0
                                    "
                                    [class.text-danger]="
                                      tariff.tariffs[0].savedAmount < 0
                                    "
                                  >
                                    {{ tariff.tariffs[0].name }}
                                  </h6>
                                  <span
                                    class="fa fa-star"
                                    *ngFor="let number of [0, 1, 2, 3, 4]"
                                    [class.checked]="tariff.rating > number"
                                  ></span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-sm-4 text-center text-sm-right"
                            >
                              <div
                                *ngIf="
                                  tariff.tariffs[0].name === userTariff.name;
                                  else save
                                "
                              >
                                <h4 class="text-info my-2">
                                  {{
                                    'police.tariffCompare.currentTariff'
                                      | translate
                                  }}
                                </h4>
                              </div>
                              <ng-template #save>
                                <h5 class="my-2">
                                  {{
                                    tariff.tariffs[0].isBetter
                                      ? ('police.tariffCompare.save'
                                        | translate)
                                      : ('police.tariffCompare.payMore'
                                        | translate)
                                  }}
                                </h5>
                                <h4 class="mt-0 mb-1">
                                  <span
                                    [class.text-primary]="
                                      tariff.tariffs[0].savedAmount > 0
                                    "
                                    [class.text-info]="
                                      tariff.tariffs[0].savedAmount === 0
                                    "
                                    [class.text-danger]="
                                      tariff.tariffs[0].savedAmount < 0
                                    "
                                    ><b>{{
                                      tariff.tariffs[0].savedAmount
                                        | absoluteValue
                                        | number: '1.0-0':'cs'
                                    }}</b></span
                                  >&nbsp;CZK
                                </h4>
                              </ng-template>
                              <p>
                                {{
                                  'police.tariffCompare.totalCost' | translate
                                }}
                                {{
                                  tariff.tariffs[0].estimatedCost
                                    | number: '1.0-0':'cs'
                                }}
                                CZK
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-10 col-lg-8 text-left mt-3">
                          <div class="row d-flex justify-content-center">
                            <div class="col-8 col-sm-7">
                              <ul
                                class="advantages pl-1"
                                *ngIf="
                                  tariff.tariffs[0].advantages[
                                    'cs'
                                  ] as advantages;
                                  else fallback
                                "
                              >
                                <div *ngIf="advantages[0].length > 3">
                                  <li *ngFor="let adv of advantages">
                                    {{ adv }}
                                  </li>
                                </div>
                              </ul>
                              <ng-template #fallback>
                                <ul
                                  class="advantages pl-1"
                                  *ngIf="
                                    tariff.tariffs[0].advantages[
                                      'cs'
                                    ] as advantages
                                  "
                                >
                                  <div *ngIf="advantages[0].length > 3">
                                    <li *ngFor="let adv of advantages">
                                      {{ adv }}
                                    </li>
                                  </div>
                                </ul>
                              </ng-template>
                              <ul
                                class="disadvantages pl-1"
                                *ngIf="
                                  tariff.tariffs[0].disadvantages[
                                    'cs'
                                  ] as disadvantages;
                                  else dfallback
                                "
                              >
                                <div *ngIf="disadvantages[0].length > 4">
                                  <li *ngFor="let dis of disadvantages">
                                    {{ dis }}
                                  </li>
                                </div>
                              </ul>
                              <ng-template #dfallback>
                                <ul
                                  class="disadvantages pl-1"
                                  *ngIf="
                                    tariff.tariffs[0].disadvantages[
                                      'cs'
                                    ] as disadvantages
                                  "
                                >
                                  <div *ngIf="disadvantages[0].length > 4">
                                    <li *ngFor="let dis of disadvantages">
                                      {{ dis }}
                                    </li>
                                  </div>
                                </ul>
                              </ng-template>
                            </div>
                            <div class="col-8 col-sm-5 text-left text-sm-right">
                              <p>
                                {{
                                  'police.tariffCompare.validFrom' | translate
                                }}
                                {{
                                  tariff.tariffs[0].validFrom
                                    | date: 'mediumDate':undefined:'cs'
                                }}
                              </p>
                              <p>
                                {{ 'police.tariffCompare.validTo' | translate }}
                                {{
                                  tariff.tariffs[0].validTo
                                    | date: 'mediumDate':undefined:'cs'
                                }}
                                <!-- tariff.tariff.validTo.toDate() -->
                                <!-- | date: 'mediumDate':undefined:lang -->
                              </p>
                              <p>
                                {{ tariff.tariffs[0].contractDurationMonths }}
                              </p>
                              <p>
                                {{ tariff.tariffs[0].fixedPriceDurationMonths }}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-12 col-md-10 col-lg-8 text-center vertical-center"
                        >
                          <button
                            class="btn"
                            [routerLink]="['/light/contract']"
                            [queryParamsHandling]="'merge'"
                            [class.btn-primary]="
                              tariff.tariffs[0].savedAmount > 0
                            "
                            [class.btn-info]="
                              tariff.tariffs[0].savedAmount === 0
                            "
                            [class.btn-danger]="
                              tariff.tariffs[0].savedAmount < 0
                            "
                          >
                            {{ 'police.tariffCompare.interested' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
