<nav
  class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent"
  color-on-scroll="500"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="[($user | async) ? '/police/dashboard' : '']"
        placement="bottom"
      >
        {{ 'title' | translate }}
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div
      class="collapse navbar-collapse"
      data-nav-image="assets/img/blurred-image-1.jpg"
      data-color="orange"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/light/landing']">
            <p>light - first run</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/light']">
            <p>light - dash</p>
          </a>
        </li>
        <div *ngIf="$user | async; then loggedIn; else loggedOut"></div>
        <ng-template #loggedIn>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/police/landing']">
              <p>{{ 'navbar.home' | translate }}</p>
            </a>
          </li> -->
          <!-- <li class="nav-item" *ngIf="$userTariff | async">
            <a class="nav-link" [routerLink]="['/police/tariff-compare']">
              <p>{{ 'navbar.compare' | translate }}</p>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link btn btn-primary"
              [routerLink]="['/police/track']"
            >
              <p>{{ 'navbar.track' | translate }}</p>
            </a>
          </li> -->
          <a ngbDropdown class="nav-item dropdown" style="cursor: pointer;">
            <div class="nav-link dropdown-toggle" ngbDropdownToggle>
              <i class="now-ui-icons design_app"></i>
              <p>{{ 'navbar.more' | translate }}</p>
            </div>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
              <button
                class="dropdown-item"
                [routerLink]="['/police/dashboard']"
              >
                Consumption points
              </button>
              <!-- <button class="dropdown-item" [routerLink]="['/police/tariff']">
                2 - contract and consumption
              </button>
              <button
                class="dropdown-item"
                [routerLink]="['/police/tariff']"
                [queryParams]="{ new: 'true' }"
              >
                2 - contract and consumption new
              </button> -->
              <!-- <button class="dropdown-item" [routerLink]="['/police/tariffs']">
                {{ 'navbar.set' | translate }} old
              </button> -->
              <!-- <button
                class="dropdown-item"
                [routerLink]="['/police/set-tariff']"
              >
                Set tariff
              </button>
              <button class="dropdown-item" [routerLink]="['/police/estimate']">
                Estimate tariff
              </button> -->
              <!-- <button
                class="dropdown-item"
                [routerLink]="['/police/recap']"
                [queryParams]="{
                  provider: 'Bohemia Energy',
                  tariff: 'Be Relax Promo 20-21'
                }"
              >
                New Contract
              </button> -->
              <button class="dropdown-item" [routerLink]="['/police/settings']">
                Notification Settings
              </button>
              <button class="dropdown-item" [routerLink]="['/profile']">
                Profile
              </button>
              <button
                class="dropdown-item"
                (click)="signOut()"
                [routerLink]="['/login']"
                *ngIf="$user | async as user"
              >
                {{ user.userName }} - {{ 'navbar.logout' | translate }}
              </button>
              <!-- <li class="nav-item" *ngIf="auth.$user | async as user">
                <a class="nav-link" [routerLink]="['/police/tariff-compare']">
                  <p>{{ user.userName }} - {{ 'navbar.logout' | translate }}</p>
                </a>
              </li> -->
            </div>
          </a>
        </ng-template>
        <ng-template #loggedOut>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">
              <p>{{ 'navbar.login' | translate }}</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary" [routerLink]="['/register']">
              <p>{{ 'navbar.register' | translate }}</p>
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
