<div [ngSwitch]="params" class="wrapper">
  <div *ngSwitchDefault>
    <div class="page-header page-header-mini"></div>
    <div class="main">
      <div class="content">
        <div class="container-lg">
          <div class="row">
            <div class="card">
              <h2 class="card-title initial text-center mb-0">
                {{ 'police.tariffCompare.title' | translate }}
              </h2>
              <h4 class="text-center mb-2 mb-md-5 mt-2">
                {{ (supplyPoint | async)?.name }}
              </h4>
              <!-- SORT PILLS -->
              <div class="row d-flex justify-content-center">
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="col-auto pl-0">
                      <h5 class="mt-2">
                        {{ 'police.tariffCompare.sortBy' | translate }}:
                      </h5>
                    </div>
                    <div class="col-auto">
                      <ngb-tabset
                        type="pills"
                        class="nav nav-pills nav-pills-primary justify-content-center tab-space"
                        (tabChange)="sortTariffs($event)"
                      >
                        <ngb-tab title="Savings" id="savings"> </ngb-tab>
                        <ngb-tab title="Provider" id="provider"> </ngb-tab>
                        <ngb-tab title="Rating" id="rating"> </ngb-tab>
                      </ngb-tabset>
                    </div>
                  </div>
                </div>
              </div>

              <!-- FILTER ACCORDION -->
              <div class="row d-flex justify-content-center">
                <ngb-accordion
                  #acc="ngbAccordion"
                  class="card-plain col-11 col-sm-10"
                  destroyOnHide="true"
                >
                  <ngb-panel id="config-panel-one">
                    <ng-template ngbPanelTitle class="text-center">
                      <a
                        class="collapsed"
                        style="text-decoration: none; border: none;"
                      >
                        <div class="row">
                          <div class="col-2 col-sm-1">
                            <i
                              class="now-ui-icons arrows-1_minimal-down"
                              style="top: 5px;"
                            ></i>
                          </div>

                          <div class="col-10 col-sm-11 pl-0">
                            <h5 class="my-0">
                              {{ 'police.tariffCompare.filter' | translate }}
                            </h5>
                          </div>
                        </div>
                      </a>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <div class="row mt-3">
                        <div class="col-12 col-sm-4">
                          <label>{{
                            'police.tariffCompare.rating' | translate
                          }}</label>
                        </div>

                        <div class="col-12 col-md-8">
                          <div class="row">
                            <div class="col-3 vertical-center text-right">
                              5 <span class="fa fa-star checked"></span>
                            </div>
                            <div class="col-6">
                              <nouislider
                                class="slider slider-primary"
                                [config]="ratingConfig"
                                (change)="filterTariffs('rating')"
                                [(ngModel)]="rating"
                              ></nouislider>
                            </div>
                            <div class="col-3 vertical-center">
                              <span class="fa fa-star"></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row mt-4">
                        <div class="col-12 col-sm-4">
                          <label>{{
                            'police.tariffCompare.contractDuration' | translate
                          }}</label>
                        </div>

                        <div class="col-12 col-md-8">
                          <div class="row">
                            <div class="col-3 vertical-center text-right">
                              {{
                                'police.tariffCompare.indefinite' | translate
                              }}
                            </div>
                            <div class="col-6">
                              <nouislider
                                class="slider slider-primary"
                                [config]="contractConfig"
                                (change)="filterTariffs('contractDuration')"
                                [(ngModel)]="contractDuration"
                              ></nouislider>
                            </div>
                            <div class="col-3 vertical-center">
                              3+
                              {{ 'police.tariffCompare.years' | translate }}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row mt-4">
                        <div class="col-12 col-sm-4">
                          <label>
                            {{
                              'police.tariffCompare.fixedPrice' | translate
                            }}</label
                          >
                        </div>

                        <div class="col-12 col-md-8">
                          <div class="row">
                            <div class="col-3 vertical-center text-right">
                              {{ 'police.tariffCompare.notFixed' | translate }}
                            </div>
                            <div class="col-6">
                              <nouislider
                                class="slider slider-primary"
                                [config]="priceConfig"
                                (change)="filterTariffs('fixedPrice')"
                                [(ngModel)]="fixedPrice"
                              ></nouislider>
                            </div>
                            <div class="col-3 vertical-center">
                              {{
                                'police.tariffCompare.indefinite' | translate
                              }}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row mt-4">
                        <div class="col-12 col-sm-4">
                          <label>{{
                            'police.tariffCompare.savings' | translate
                          }}</label>
                        </div>

                        <div class="col-12 col-md-8">
                          <div class="row">
                            <div class="col-3 vertical-center text-right">
                              0 {{ userTariff.currency || 'CZK' }}
                            </div>
                            <div class="col-6">
                              <nouislider
                                class="slider slider-primary"
                                [config]="savingsConfig"
                                (change)="filterTariffs('savings')"
                                [(ngModel)]="savings"
                              ></nouislider>
                            </div>
                            <div class="col-3 vertical-center">
                              10 000+ {{ userTariff.currency || 'CZK' }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
              </div>

              <!-- USERTARIFF NOT SET CALL TO ACTION -->
              <div class="row d-flex justify-content-center" *ngIf="isDefault">
                <div class="col-lg-11 card plain-card review-card">
                  <div class="card-header">
                    <h4 class="card-title text-primary text-center">
                      Got 5 minutes?
                    </h4>
                  </div>
                  <p class="text-center">
                    The prices are only indicational, since you haven't filled
                    out all of your tariff info. Fill it out to see how much
                    exactly you can be saving.
                  </p>
                  <button
                    class="btn btn-primary btn-round ml-auto mr-auto"
                    style="display: block;"
                    [routerLink]="'/police/tariff'"
                    [queryParams]="{ isEmptyTariff: true }"
                    [queryParamsHandling]="'merge'"
                  >
                    <span>Click here to fill tariff info</span>
                  </button>
                </div>
              </div>

              <!-- TARIFF COMPARISONS -->
              <div class="col-12">
                <div class="row d-flex justify-content-center">
                  <div class="card-body">
                    <div
                      *ngFor="let tariff of tariffCompare"
                      class="row d-flex justify-content-center"
                    >
                      <div class="col-lg-11 card tracking-card py-2">
                        <div class="row d-flex justify-content-center">
                          <div
                            class="col-12 col-md-10 col-lg-8 text-center vertical-center"
                          >
                            <div class="row">
                              <div
                                class="col-6 col-sm-3 text-right text-sm-left mt-1 mb-1"
                              >
                                <div class="card-image">
                                  <img
                                    class="img"
                                    [src]="tariff.provider.logo"
                                    alt="logo"
                                    style="max-height: 100px;"
                                  />
                                </div>
                              </div>
                              <div class="col-6 col-sm-5">
                                <div class="text-left">
                                  <div class="description">
                                    <h4 class="category my-2">
                                      <b> {{ tariff.provider.name }}</b>
                                    </h4>
                                    <h6
                                      class="category"
                                      [class.text-primary]="
                                        tariff.savedAmount > 0
                                      "
                                      [class.text-info]="
                                        tariff.savedAmount === 0
                                      "
                                      [class.text-danger]="
                                        tariff.savedAmount < 0
                                      "
                                    >
                                      {{ tariff.tariff.name }}
                                    </h6>
                                    <span
                                      class="fa fa-star"
                                      *ngFor="let number of [0, 1, 2, 3, 4]"
                                      [class.checked]="
                                        tariff.provider.rating > number
                                      "
                                    ></span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-sm-4 text-center text-sm-right"
                              >
                                <div
                                  *ngIf="
                                    tariff.tariff.uid === userTariff.name;
                                    else save
                                  "
                                >
                                  <h4 class="text-info my-2">
                                    {{
                                      'police.tariffCompare.currentTariff'
                                        | translate
                                    }}
                                  </h4>
                                </div>
                                <ng-template #save>
                                  <h5 class="my-2">
                                    {{
                                      tariff.isBetter
                                        ? ('police.tariffCompare.save'
                                          | translate)
                                        : ('police.tariffCompare.payMore'
                                          | translate)
                                    }}
                                  </h5>
                                  <h4 class="mt-0 mb-1">
                                    <span
                                      [class.text-primary]="
                                        tariff.savedAmount > 0
                                      "
                                      [class.text-info]="
                                        tariff.savedAmount === 0
                                      "
                                      [class.text-danger]="
                                        tariff.savedAmount < 0
                                      "
                                      ><b>{{
                                        tariff.savedAmount
                                          | absoluteValue
                                          | number: '1.0-0':lang
                                      }}</b></span
                                    >&nbsp;{{ userTariff.currency || 'CZK' }}
                                  </h4>
                                </ng-template>
                                <p>
                                  {{
                                    'police.tariffCompare.totalCost' | translate
                                  }}
                                  {{
                                    tariff.estimatedCost | number: '1.0-0':lang
                                  }}
                                  {{ userTariff.currency || 'CZK' }}
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-10 col-lg-8 text-left mt-3">
                            <div class="row d-flex justify-content-center">
                              <div class="col-8 col-sm-7">
                                <ul
                                  class="advantages pl-1"
                                  *ngIf="
                                    tariff.tariff.advantages[
                                      lang
                                    ] as advantages;
                                    else fallback
                                  "
                                >
                                  <div *ngIf="advantages[0].length > 3">
                                    <li *ngFor="let adv of advantages">
                                      {{ adv }}
                                    </li>
                                  </div>
                                </ul>
                                <ng-template #fallback>
                                  <ul
                                    class="advantages pl-1"
                                    *ngIf="
                                      tariff.tariff.advantages[
                                        languageFallback(
                                          tariff.tariff.advantages
                                        )
                                      ] as advantages
                                    "
                                  >
                                    <div *ngIf="advantages[0].length > 3">
                                      <li *ngFor="let adv of advantages">
                                        {{ adv }}
                                      </li>
                                    </div>
                                  </ul>
                                </ng-template>
                                <ul
                                  class="disadvantages pl-1"
                                  *ngIf="
                                    tariff.tariff.disadvantages[
                                      lang
                                    ] as disadvantages;
                                    else dfallback
                                  "
                                >
                                  <div *ngIf="disadvantages[0].length > 4">
                                    <li *ngFor="let dis of disadvantages">
                                      {{ dis }}
                                    </li>
                                  </div>
                                </ul>
                                <ng-template #dfallback>
                                  <ul
                                    class="disadvantages pl-1"
                                    *ngIf="
                                      tariff.tariff.disadvantages[
                                        languageFallback(
                                          tariff.tariff.disadvantages
                                        )
                                      ] as disadvantages
                                    "
                                  >
                                    <div *ngIf="disadvantages[0].length > 4">
                                      <li *ngFor="let dis of disadvantages">
                                        {{ dis }}
                                      </li>
                                    </div>
                                  </ul>
                                </ng-template>
                              </div>
                              <div
                                class="col-8 col-sm-5 text-left text-sm-right"
                              >
                                <p>
                                  {{
                                    'police.tariffCompare.validFrom' | translate
                                  }}
                                  {{
                                    tariff.tariff.validFrom.toDate()
                                      | date: 'mediumDate':undefined:lang
                                  }}
                                </p>
                                <p>
                                  {{
                                    'police.tariffCompare.validTo' | translate
                                  }}
                                  {{
                                    tariff.tariff.validTo.toDate()
                                      | date: 'mediumDate':undefined:lang
                                  }}
                                  <!-- tariff.tariff.validTo.toDate() -->
                                  <!-- | date: 'mediumDate':undefined:lang -->
                                </p>
                                <p
                                  *ngIf="
                                    tariff.tariff.contractDurationMonths > 0
                                  "
                                >
                                  {{
                                    'police.tariffCompare.durationOfContract'
                                      | translate
                                  }}
                                  {{ tariff.tariff.contractDurationMonths }}
                                  {{
                                    'police.tariffCompare.months' | translate
                                  }}
                                </p>
                                <p
                                  *ngIf="
                                    tariff.tariff.contractDurationMonths === -1
                                  "
                                >
                                  {{
                                    'police.tariffCompare.indefiniteDuration'
                                      | translate
                                  }}
                                </p>
                                <p
                                  *ngIf="
                                    tariff.tariff.fixedPriceDurationMonths > 0
                                  "
                                >
                                  {{
                                    'police.tariffCompare.fixedFor' | translate
                                  }}
                                  {{ tariff.tariff.fixedPriceDurationMonths }}
                                  {{
                                    'police.tariffCompare.months' | translate
                                  }}
                                </p>
                                <p
                                  *ngIf="
                                    tariff.tariff.fixedPriceDurationMonths === 0
                                  "
                                >
                                  {{
                                    'police.tariffCompare.notFixedPrice'
                                      | translate
                                  }}
                                </p>
                              </div>
                            </div>
                          </div>
                          <div
                            class="col-12 col-md-10 col-lg-8 text-center vertical-center"
                          >
                            <button
                              class="btn"
                              [routerLink]="['/police/recap']"
                              [queryParams]="{
                                provider: tariff.provider.name,
                                tariff: tariff.tariff.uid,
                                userTariff: tariffUid
                              }"
                              [queryParamsHandling]="'merge'"
                              [class.btn-primary]="tariff.savedAmount > 0"
                              [class.btn-info]="tariff.savedAmount === 0"
                              [class.btn-danger]="tariff.savedAmount < 0"
                            >
                              {{
                                'police.tariffCompare.interested' | translate
                              }}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngSwitchCase="2">
    <div class="page-header page-header-mini"></div>
    <div class="main">
      <div class="content">
        <div class="container-lg">
          <div class="row">
            <div class="card">
              <h2 class="card-title initial text-center">
                {{ 'police.tariffCompare.title' | translate }}
              </h2>
              <div class="col-12">
                <div class="row d-flex justify-content-center">
                  <div
                    *ngIf="tariffCompare | async as tariffs"
                    class="card-body"
                  >
                    <div
                      *ngFor="let tariff of tariffs | async"
                      class="row d-flex justify-content-center"
                    >
                      <div class="col-lg-11 card tracking-card">
                        <div class="card-body">
                          <div class="author">
                            <div class="row">
                              <div class="col">
                                <div
                                  class="info info-horizontal col-12"
                                  *ngIf="tariff.savedAmount > 0"
                                >
                                  <div class="row">
                                    <div class="col-1">
                                      <div class="icon icon-primary">
                                        <i class="fa fa-smile-o"></i>
                                      </div>
                                    </div>
                                    <div class="col-11">
                                      <div class="description">
                                        <h4 class="info-title">
                                          <span class="text-primary"
                                            ><b>{{
                                              tariff.tariff.name
                                            }}</b></span
                                          >
                                          {{
                                            'police.tariffCompare.from'
                                              | translate
                                          }}
                                          {{ tariff.provider.name }} -
                                          {{
                                            'police.tariffCompare.youCanSave'
                                              | translate
                                          }}
                                          <span class="text-primary"
                                            ><b>{{
                                              tariff.savedAmount
                                                | number: '1.0-2':lang
                                            }}</b></span
                                          >
                                          {{userTariff.currency || 'CZK'}}
                                          {{
                                            'police.tariffCompare.aYear'
                                              | translate
                                          }}
                                        </h4>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div
                                  class="info info-horizontal col-12"
                                  *ngIf="tariff.savedAmount === 0"
                                >
                                  <div class="row">
                                    <div class="col-1">
                                      <div class="icon icon-info">
                                        <i class="fa fa-meh-o"></i>
                                      </div>
                                    </div>
                                    <div class="col-11">
                                      <div class="description">
                                        <h4 class="info-title">
                                          <span class="text-info"
                                            ><b>{{
                                              tariff.tariff.name
                                            }}</b></span
                                          >
                                          {{
                                            'police.tariffCompare.from'
                                              | translate
                                          }}
                                          {{ tariff.provider.name }} -
                                          {{
                                            'police.tariffCompare.currentTariff'
                                              | translate
                                          }}
                                        </h4>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div
                                  class="info info-horizontal col-12"
                                  *ngIf="tariff.savedAmount < 0"
                                >
                                  <div class="row">
                                    <div class="col-1">
                                      <div class="icon icon-danger">
                                        <i class="fa fa-frown-o"></i>
                                      </div>
                                    </div>
                                    <div class="col-11">
                                      <div class="description">
                                        <h4 class="info-title">
                                          <span class="text-danger"
                                            ><b>{{
                                              tariff.tariff.name
                                            }}</b></span
                                          >
                                          {{
                                            'police.tariffCompare.from'
                                              | translate
                                          }}
                                          {{ tariff.provider.name }} -
                                          {{
                                            'police.tariffCompare.worseTariffPart1'
                                              | translate
                                          }}
                                          <span class="text-danger"
                                            ><b>{{
                                              tariff.savedAmount
                                                | absoluteValue
                                                | number: '1.0-2':lang
                                            }}</b></span
                                          >
                                          {{userTariff.currency || 'CZK'}}
                                          {{
                                            'police.tariffCompare.worseTariffPart2'
                                              | translate
                                          }}
                                        </h4>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<app-footer></app-footer>
