<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container-lg">
        <div class="row">
          <div class="col-10">
            <textarea
              name="upload"
              id="upload"
              cols="100"
              rows="10"
              [(ngModel)]="uploadTextarea"
            ></textarea>
          </div>
          <div class="col-2"><button (click)="upload()">Upload</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
