<div [ngSwitch]="params" class="wrapper">
  <div *ngSwitchDefault>
    <div class="page-header page-header-mini"></div>
    <div class="main">
      <div class="content">
        <div class="container-lg">
          <div class="row">
            <div class="card">
              <!-- {{ tariff | async | json }} -->
              <h2
                class="card-title initial text-center"
                *ngIf="
                  (trackingEntries | async)?.length > 0;
                  else startTracking
                "
              >
                {{ 'police.tracking.title' | translate }}
                <span *ngIf="supplyPoint | async as sp">
                  '{{ (tariff | async)?.name }}' at {{ sp.name }}</span
                >
              </h2>
              <ng-template #startTracking>
                <h2 class="card-title initial text-center">
                  {{ 'police.tracking.startTracking' | translate }}
                </h2>
              </ng-template>
              <div class="col-12">
                <div class="row d-flex justify-content-center">
                  <!-- BETTER TARIFF CARD -->
                  <div
                    class="col-lg-11 card plain-card review-card"
                    *ngIf="betterTariff"
                  >
                    <a (click)="onBetterTariffClick()" style="cursor: pointer;">
                      <div class="card-header">
                        <h4 class="card-title text-primary text-center">
                          {{ 'police.tracking.betterTariff' | translate }}
                        </h4>
                      </div>
                      <p class="initial text-center" *ngIf="comparisons">
                        {{
                          (numberOfBetterTariffs > 1
                            ? 'police.tracking.betterTariffsPart1Plural'
                            : 'police.tracking.betterTariffsPart1Singular'
                          ) | translate
                        }}
                        <span class="text-primary">
                          <b> {{ numberOfBetterTariffs }}</b></span
                        >
                        {{
                          (numberOfBetterTariffs > 1
                            ? 'police.tracking.betterTariffsPart2Plural'
                            : 'police.tracking.betterTariffsPart2Singular'
                          ) | translate
                        }}
                        {{ 'police.tracking.betterTariffsPart3' | translate }}
                        <b>
                          <span class="text-primary">{{
                            comparisons[0].savedAmount | number: '1.0-2':lang
                          }}</span
                          >&nbsp;CZK</b
                        >
                        {{ 'police.tracking.aYear' | translate }}
                      </p>
                      <button
                        class="btn btn-primary btn-round btn-lg ml-auto mr-auto"
                        style="display: block;"
                      >
                        <span>{{
                          'police.tracking.learnMore' | translate
                        }}</span>
                      </button>
                    </a>
                  </div>

                  <!-- REVIEW DATA -->
                  <div class="col-12">
                    <div *ngIf="periodSummary | async as periodSummary">
                      <div
                        class="row d-flex justify-content-center"
                        *ngIf="
                          periodSummary.periodSummary.measuredConsumption ||
                          periodSummary.periodSummary.annualConsumption
                        "
                      >
                        <div class="col-lg-11 card plain-card review-card">
                          <div class="card-body">
                            <h5 [ngSwitch]="periodSummary.periodSummary.from">
                              <span *ngSwitchCase="'billing'"
                                >From billing</span
                              >
                              <span *ngSwitchCase="'tracking'"
                                >From tracking</span
                              >
                              <span *ngSwitchCase="'estimate'"
                                >From estimate</span
                              >
                              <span *ngSwitchDefault></span>
                            </h5>
                            <div
                              class="row d-flex justify-content-center"
                              *ngIf="
                                periodSummary.periodSummary.measuredConsumption
                              "
                            >
                              <div class="col-8 col-sm-5 col-md-4">
                                <div class="row">
                                  <h6 class="category initial">
                                    {{
                                      'police.tracking.trackedPer' | translate
                                    }}
                                  </h6>
                                </div>
                              </div>

                              <div class="col-8 col-sm-5 col-md-4">
                                <div class="row">
                                  <div class="col-12 col-md-6">
                                    <h6
                                      class="category initial text-right text-nowrap"
                                    >
                                      <span
                                        *ngIf="
                                          periodSummary.periodSummary
                                            .isTwoTariff
                                        "
                                        class="text-primary"
                                        >{{
                                          periodSummary.periodSummary
                                            .measuredConsumptionLow
                                            | number: '1.0-1':lang
                                        }}</span
                                      >
                                      <span
                                        *ngIf="
                                          periodSummary.periodSummary
                                            .isTwoTariff
                                        "
                                      >
                                        /
                                      </span>
                                      <span class="text-primary">{{
                                        periodSummary.periodSummary
                                          .measuredConsumption
                                          | number: '1.0-1':lang
                                      }}</span
                                      >&nbsp;{{
                                        'police.tracking.valueUnits' | translate
                                      }}
                                    </h6>
                                  </div>
                                  <div class="col-12 col-md-6">
                                    <h6
                                      class="category initial text-right text-nowrap"
                                    >
                                      <span class="text-primary">{{
                                        periodSummary.periodSummary.measuredCost
                                          ? (periodSummary.periodSummary
                                              .measuredCost
                                            | number: '1.0-0':lang)
                                          : '?'
                                      }}</span
                                      >&nbsp;{{
                                        'police.tracking.costUnit' | translate
                                      }}
                                    </h6>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row d-flex justify-content-center">
                              <div class="col-8 col-sm-5 col-md-4">
                                <div class="row">
                                  <h6 class="category initial">
                                    {{
                                      'police.tracking.estimatedValues'
                                        | translate
                                    }}
                                  </h6>
                                </div>
                              </div>

                              <div class="col-8 col-sm-5 col-md-4">
                                <div class="row">
                                  <div class="col-12 col-md-6">
                                    <h6
                                      class="category initial text-right text-nowrap"
                                    >
                                      <span
                                        *ngIf="
                                          periodSummary.periodSummary
                                            .isTwoTariff
                                        "
                                        class="text-primary"
                                        >{{
                                          periodSummary.periodSummary
                                            .annualConsumptionLow
                                            | number: '1.0-0':lang
                                        }}</span
                                      >
                                      <span
                                        *ngIf="
                                          periodSummary.periodSummary
                                            .isTwoTariff
                                        "
                                      >
                                        /
                                      </span>
                                      <span class="text-primary">{{
                                        periodSummary.periodSummary
                                          .annualConsumption
                                          | number: '1.0-0':lang
                                      }}</span
                                      >&nbsp;{{
                                        'police.tracking.valueUnits' | translate
                                      }}
                                    </h6>
                                  </div>
                                  <div class="col-12 col-md-6">
                                    <h6
                                      class="category initial text-right text-nowrap"
                                    >
                                      <span class="text-primary">{{
                                        periodSummary.periodSummary.annualCost
                                          ? (periodSummary.periodSummary
                                              .annualCost
                                            | number: '1.0-0':lang)
                                          : '?'
                                      }}</span
                                      >&nbsp;{{
                                        'police.tracking.costUnit' | translate
                                      }}
                                    </h6>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- NO USERTARIFF DATA CALL TO ACTION -->
                      <div
                        class="row d-flex justify-content-center"
                        *ngIf="
                          (periodSummary.periodSummary.measuredConsumption &&
                            !periodSummary.periodSummary.measuredCost) ||
                          ((tariff | async)?.name === 'Unknown Tariff' &&
                            (trackingEntries | async)?.length > 0)
                        "
                      >
                        <div class="col-lg-11 card plain-card review-card">
                          <div class="card-header">
                            <h4 class="card-title text-primary text-center">
                              Got 5 minutes?
                            </h4>
                          </div>
                          <p class="text-center">
                            Fill in your tariff info so you can see how much
                            you're spending
                          </p>
                          <button
                            class="btn btn-primary btn-round ml-auto mr-auto"
                            style="display: block;"
                            [routerLink]="'/police/tariff'"
                            [queryParams]="{ isEmptyTariff: true }"
                            [queryParamsHandling]="'merge'"
                          >
                            <span>Click here to fill tariff info</span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- LEGEND FOR ENTRIES -->
                    <div
                      class="row d-flex justify-content-center"
                      *ngIf="(trackingEntries | async)?.length > 0"
                    >
                      <div class="col-md-11 card tracking-card">
                        <div class="row d-flex justify-content-center">
                          <div class="col-11 col-md-8 col-lg-12 pr-1 pr-sm-0">
                            <div class="card-body">
                              <div class="row">
                                <div
                                  class="col-12"
                                  [ngClass]="
                                    (tariff | async)?.periodSummary &&
                                    (tariff | async)?.periodSummary.isTwoTariff
                                      ? 'col-lg-4'
                                      : 'col-lg-6'
                                  "
                                >
                                  <div class="row">
                                    <div class="col-6 text-center">
                                      <h6 class="category initial">
                                        {{
                                          'police.tracking.deductionDate'
                                            | translate
                                        }}
                                      </h6>
                                    </div>
                                    <div
                                      class="col-6 col-sm-5 col-md-6 text-right"
                                    >
                                      <h6 class="category initial">
                                        +
                                        {{
                                          'police.tracking.costSince'
                                            | translate
                                        }}
                                      </h6>
                                    </div>
                                  </div>
                                </div>

                                <div
                                  class="col-12"
                                  [ngClass]="
                                    (tariff | async)?.periodSummary &&
                                    (tariff | async)?.periodSummary.isTwoTariff
                                      ? 'col-lg-4'
                                      : 'col-lg-6'
                                  "
                                >
                                  <div class="row">
                                    <div class="col-6 text-center">
                                      <h6 class="category initial">
                                        {{
                                          'police.tracking.deductionValue'
                                            | translate
                                        }}
                                      </h6>
                                    </div>
                                    <div
                                      class="col-6 col-sm-5 col-md-6 text-right"
                                    >
                                      <h6 class="category initial">
                                        +
                                        {{
                                          'police.tracking.consumptionSince'
                                            | translate
                                        }}
                                      </h6>
                                    </div>
                                  </div>
                                </div>

                                <div
                                  class="col-lg-4 col-12"
                                  *ngIf="
                                    (tariff | async)?.periodSummary &&
                                    (tariff | async)?.periodSummary.isTwoTariff
                                  "
                                >
                                  <div class="row">
                                    <div class="col-6 text-center">
                                      <h6 class="category initial">
                                        {{
                                          'police.tracking.deductionValueLow'
                                            | translate
                                        }}
                                      </h6>
                                    </div>
                                    <div
                                      class="col-6 col-sm-5 col-md-6 text-right"
                                    >
                                      <h6 class="category initial">
                                        +
                                        {{
                                          'police.tracking.consumptionLow'
                                            | translate
                                        }}
                                      </h6>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- ENTRIES TABLE -->
                    <div
                      class="row d-flex justify-content-center"
                      *ngFor="
                        let entry of trackingEntries | async as entries;
                        let i = index
                      "
                    >
                      <div class="col-md-11 card tracking-card">
                        <div class="row d-flex justify-content-center">
                          <div class="col-11 col-md-8 col-lg-12 pr-1 pr-sm-0">
                            <div class="card-body">
                              <div class="row">
                                <div
                                  class="col-12"
                                  [ngClass]="
                                    (tariff | async)?.periodSummary &&
                                    (tariff | async)?.periodSummary.isTwoTariff
                                      ? 'col-lg-4'
                                      : 'col-lg-6'
                                  "
                                >
                                  <div class="row">
                                    <div class="col-6 text-center">
                                      <h6 class="category initial text-nowrap">
                                        {{
                                          entry.deductionDate.toDate()
                                            | date: 'mediumDate':undefined:lang
                                        }}
                                      </h6>
                                    </div>
                                    <!-- COST SINCE LAST READING -->
                                    <div
                                      class="col-6 col-sm-5 col-md-6 text-right"
                                    >
                                      <h6 class="category initial text-nowrap">
                                        +&nbsp;<span
                                          class="text-primary"
                                          *ngIf="
                                            i > 0 && unitFees && monthlyFees;
                                            else first
                                          "
                                          >{{
                                            (entry.value -
                                              entries[i - 1].value) *
                                              unitFees +
                                              ((entry.deductionDate.seconds -
                                                entries[i - 1].deductionDate
                                                  .seconds) /
                                                2629743) *
                                                monthlyFees
                                              | number: '1.0-0':lang
                                          }} </span
                                        >&nbsp;CZK
                                      </h6>
                                    </div>
                                  </div>
                                </div>

                                <div
                                  class="col-12"
                                  [ngClass]="
                                    (tariff | async)?.periodSummary &&
                                    (tariff | async)?.periodSummary.isTwoTariff
                                      ? 'col-lg-4'
                                      : 'col-lg-6'
                                  "
                                >
                                  <div class="row">
                                    <div class="col-6">
                                      <h6 class="category initial text-nowrap">
                                        <div class="row">
                                          <div
                                            class="col-6 text-right"
                                            style="padding-right: 0;"
                                          >
                                            <span class="text-primary">{{
                                              entry.value | number: '1.0-2':lang
                                            }}</span>
                                          </div>
                                          <div
                                            class="col-6 text-left"
                                            style="padding-left: 0;"
                                          >
                                            &nbsp;kWh
                                          </div>
                                        </div>
                                      </h6>
                                    </div>
                                    <div
                                      class="col-6 col-sm-5 col-md-6 text-right"
                                    >
                                      <h6 class="category initial text-nowrap">
                                        +&nbsp;<span
                                          class="text-primary"
                                          *ngIf="i > 0; else first"
                                        >
                                          {{
                                            entry.value - entries[i - 1].value
                                              | number: '1.0-2':lang
                                          }} </span
                                        ><ng-template #first
                                          ><span class="text-primary"
                                            >?</span
                                          ></ng-template
                                        >&nbsp;kWh
                                      </h6>
                                    </div>
                                  </div>
                                </div>

                                <div
                                  class="col-lg-4 col-12"
                                  *ngIf="
                                    (tariff | async)?.periodSummary &&
                                    (tariff | async)?.periodSummary.isTwoTariff
                                  "
                                >
                                  <div class="row">
                                    <div class="col-6">
                                      <h6 class="category initial text-nowrap">
                                        <div class="row">
                                          <div class="col-6 text-right pr-0">
                                            <span class="text-primary">{{
                                              entry.valueLow
                                                ? (entry.valueLow
                                                  | number: '1.0-2':lang)
                                                : '?'
                                            }}</span>
                                          </div>
                                          <div
                                            class="col-6 text-left"
                                            style="padding-left: 0;"
                                          >
                                            &nbsp;kWh
                                          </div>
                                        </div>
                                      </h6>
                                    </div>
                                    <div
                                      class="col-6 col-sm-5 col-md-6 text-right"
                                    >
                                      <h6 class="category initial text-nowrap">
                                        +&nbsp;<span
                                          class="text-primary"
                                          *ngIf="i > 0; else first"
                                        >
                                          {{
                                            entry.valueLow
                                              ? (entry.valueLow -
                                                  entries[i - 1].valueLow
                                                | number: '1.0-2':lang)
                                              : '?'
                                          }} </span
                                        ><ng-template #first
                                          ><span class="text-primary"
                                            >?</span
                                          ></ng-template
                                        >&nbsp;kWh
                                      </h6>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="entry-dropdown">
                            <a
                              ngbDropdown
                              class="nav-item dropdown"
                              style="cursor: pointer;"
                            >
                              <div
                                class="nav-link dropdown-toggle"
                                ngbDropdownToggle
                              >
                                <i class="fa fa-ellipsis-v"></i>
                              </div>
                              <div
                                ngbDropdownMenu
                                class="dropdown-menu dropdown-menu-right"
                              >
                                <button class="dropdown-item">
                                  {{ 'police.tracking.edit' | translate }}
                                </button>
                                <button class="dropdown-item">
                                  {{ 'police.tracking.delete' | translate }}
                                </button>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="container">
                      <div *ngIf="addEntry">
                        <hr />
                        <div class="row d-flex justify-content-center">
                          <h3 class="initial" style="margin-bottom: 0;">
                            {{ 'police.tracking.newEntry' | translate }}
                          </h3>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-center">
                        <form
                          class="form"
                          #trackingForm="ngForm"
                          (ngSubmit)="onSubmit()"
                        >
                          <div *ngIf="addEntry">
                            <div class="row d-flex justify-content-center">
                              <div class="datepicker-container">
                                <div class="form-group">
                                  <input
                                    name="deductionDate"
                                    class="form-control fix-height datetimepicker"
                                    [(ngModel)]="deductionDate"
                                    [owlDateTime]="dt1"
                                    [owlDateTimeTrigger]="dt1"
                                    [owlDateTimeFilter]="myFilter"
                                    required
                                    placeholder="{{
                                      'police.tracking.datePlaceholder'
                                        | translate
                                    }}"
                                  />
                                  <owl-date-time
                                    [pickerType]="'calendar'"
                                    #dt1
                                  ></owl-date-time>
                                </div>
                              </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                              <div
                                class="input-group"
                                [ngClass]="{
                                  'input-group-focus': focus === true
                                }"
                              >
                                <input
                                  name="deductedValue"
                                  type="number"
                                  [(ngModel)]="deductedValue"
                                  class="form-control"
                                  required
                                  placeholder="{{
                                    'police.tracking.valuePlaceholder'
                                      | translate
                                  }}"
                                  (focus)="focus = true"
                                  (blur)="focus = false"
                                />
                                <div class="input-group-append">
                                  <span class="input-group-text">
                                    {{
                                      'police.tracking.valueUnits' | translate
                                    }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="row d-flex justify-content-center"
                              *ngIf="
                                (tariff | async)?.periodSummary &&
                                (tariff | async)?.periodSummary.isTwoTariff
                              "
                            >
                              <div
                                class="input-group"
                                [ngClass]="{
                                  'input-group-focus': focus1 === true
                                }"
                              >
                                <input
                                  name="deductedValueLow"
                                  type="number"
                                  [(ngModel)]="deductedValueLow"
                                  class="form-control"
                                  required
                                  placeholder="{{
                                    'police.tracking.valuePlaceholderLow'
                                      | translate
                                  }}"
                                  (focus)="focus1 = true"
                                  (blur)="focus1 = false"
                                />
                                <div class="input-group-append">
                                  <span class="input-group-text">
                                    {{
                                      'police.tracking.valueUnits' | translate
                                    }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row d-flex justify-content-center">
                            <div class="col">
                              <div class="info info-hover pb-0">
                                <button
                                  [type]="addEntry ? 'button' : 'submit'"
                                  [disabled]="
                                    addEntry &&
                                    deductedValue === undefined &&
                                    deductedValueLow === undefined &&
                                    deductedValueLow === null &&
                                    deductionDate === undefined &&
                                    deductedValue === null
                                  "
                                  class="icon icon-success icon-circle icon-button"
                                  (click)="onButtonClick()"
                                >
                                  <i
                                    class="now-ui-icons"
                                    [ngClass]="
                                      addEntry
                                        ? 'ui-1_check'
                                        : 'ui-1_simple-add'
                                    "
                                  ></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button
                class="btn btn-primary btn-round btn-sm ml-2"
                [routerLink]="'/police'"
              >
                <i class="fa fa-chevron-left"></i>
                Dashboard
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
