<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container">
        <div class="col-md-10 ml-auto mr-auto">
          <h2
            class="card-title text-center initial"
            style="padding-bottom: 40px;"
          >
            Welcome!
          </h2>

          <div class="row d-flex justify-content-center">
            <!-- ELECTRICITY/GAS SELECTION -->
            <div class="col-12 text-center">
              <h5 class="mb-1 mt-3" style="color: white;">
                First, what kind of energy do you want for cheaper?
              </h5>
              <div class="btn-group-toggle">
                <label
                  *ngFor="let energy of energySelection | keyvalue"
                  [class.active]="energy.value.checked"
                  class="btn btn-check btn-round btn-lg mr-1 mr-md-3"
                >
                  <i class="fa" [ngClass]="energy.value.icon"></i>
                  <input
                    [(ngModel)]="energy.value.checked"
                    (click)="onEnergyClick(energy.key)"
                    type="radio"
                  />
                  {{ energy.value.name }}
                </label>
              </div>
            </div>

            <div class="col-12 text-center">
              <h5 class="mb-1 mt-3" style="color: white;">
                {{ 'police.landing.atHand' | translate }}
              </h5>
              <button
                class="btn btn-primary btn-round btn-lg"
                [routerLink]="['/light/set-tariff']"
                [disabled]="!selectedEnergy"
              >
                <span>{{ 'police.landing.buttonTitle' | translate }}</span>
              </button>
            </div>
            <div class="col-12 text-center">
              <h5 class="mb-1 mt-3" style="color: white;">
                {{ 'police.landing.notSure' | translate }}
              </h5>
              <button
                class="btn btn-primary btn-round btn-lg"
                [routerLink]="['/light/estimate']"
                queryParamsHandling="preserve"
                [disabled]="!selectedEnergy"
              >
                <span>{{ 'police.landing.estimateTariff' | translate }}</span>
              </button>
            </div>
            <div class="col-12 text-center">
              <h5 class="mb-1 mt-3" style="color: white;">
                {{ 'police.landing.orJustStart' | translate }}
              </h5>
              <button
                class="btn btn-primary btn-round btn-lg"
                [routerLink]="['/light/tracking']"
                queryParamsHandling="preserve"
                [disabled]="!selectedEnergy"
              >
                <span>{{ 'police.landing.trackButton' | translate }}</span>
              </button>
            </div>
            <div class="col-12 text-center">
              <h5 class="mb-1 mt-3" style="color: white;">
                Do you think you'll stay?
              </h5>
              <button
                class="btn btn-primary btn-round btn-lg"
                [routerLink]="['/light']"
              >
                <span>Set detailed information</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
