input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
.card {
  width: 100%;
  max-width: 100%;
  .input-group {
    max-width: 350px;
    margin: 0 auto 10px auto;
  }
  .card-title {
    margin-bottom: 1em;
  }
}
.form {
  padding-top: 20px;
}
.card-padding {
  padding: 50px 0;
}
.initial {
  color: initial;
}
.card {
  z-index: 100;
  .info {
    padding: 10px 0;
  }
}
.right-border {
  border-right: 1px solid lightgrey;
}
.left-border {
  border-left: 1px solid lightgrey;
}
.tracking-card {
  margin-bottom: 1em;
  width: 99%;
  .card-body {
    padding: 1rem 1.25rem;
  }
}
.icon-button {
  border: none;
  outline: 0;
}
.wrapper {
  min-height: 90vh;
}
body {
  background: #353535;
  background: -webkit-linear-gradient(top left, #353535, #01340e);
  background: -moz-linear-gradient(top left, #353535, #01340e);
  background: linear-gradient(to bottom right, #353535, #01340e);
}
.main {
  background: transparent;
}
h6 {
  font-size: 1rem;
}
.form-control {
  font-size: 1.3rem;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}
p {
  font-size: 1em;
  margin: 0;
}
.card-pricing .card-body {
  padding: 10px;
}

@media (max-width: 768px) {
  .btn {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .row-line {
    border-bottom: 1px solid lightgrey;
  }
}
