<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container-lg">
        <div class="row">
          <div class="card">
            <h2 class="card-title initial text-center mb-0">
              {{ 'police.recapitulation.title' | translate }}
            </h2>
            <h4 class="text-center mt-2">
              Home
            </h4>

            <div class="card-body">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-11 card tracking-card py-2">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12">
                      <h4>
                        {{ 'police.recapitulation.info' | translate }}
                      </h4>
                      <div>
                        <h6>Please fill in your user info before proceeding</h6>
                        <p>{{ 'police.recapitulation.name' | translate }}:</p>
                        <p>
                          {{ 'police.recapitulation.birthDate' | translate }}:
                        </p>
                        <p>{{ 'police.recapitulation.street' | translate }}:</p>
                        <p>{{ 'police.recapitulation.city' | translate }}:</p>
                        <p>
                          {{ 'police.recapitulation.postalCode' | translate }}:
                        </p>
                        <p>
                          {{
                            'police.recapitulation.customerNumber' | translate
                          }}:
                        </p>
                        <p>
                          {{
                            'police.recapitulation.accountNumber' | translate
                          }}:
                        </p>
                      </div>
                    </div>
                    <div class="col-12 text-right">
                      <a
                        [routerLink]="'/profile'"
                        [queryParams]="{ fromNewContract: true }"
                        [queryParamsHandling]="'merge'"
                      >
                        <h5 class="mb-0">
                          <small>{{
                            'police.recapitulation.editInfo' | translate
                          }}</small>
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row d-flex justify-content-center">
                <div class="col-lg-11 card tracking-card py-2">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12">
                      <h4>
                        Supply point
                      </h4>
                      <div>
                        <h6>
                          Please fill in your supply point info before
                          proceeding
                        </h6>
                        <p>{{ 'police.recapitulation.street' | translate }}:</p>
                        <p>{{ 'police.recapitulation.city' | translate }}:</p>
                        <p>
                          {{ 'police.recapitulation.postalCode' | translate }}:
                        </p>
                        <p>
                          {{ 'police.recapitulation.pointNumber' | translate }}:
                        </p>
                        <p>{{ 'police.recapitulation.ean' | translate }}:</p>
                      </div>
                    </div>
                    <div class="col-12 text-right">
                      <a [routerLink]="['/light/supply-point']">
                        <h5 class="mb-0">
                          <small>{{
                            'police.recapitulation.editPoint' | translate
                          }}</small>
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row d-flex justify-content-center">
                <div class="col-lg-11 card tracking-card py-2">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12">
                      <h4>
                        {{ 'police.recapitulation.productInfo' | translate }}
                      </h4>
                      <p>
                        {{ 'police.recapitulation.provider' | translate }}:
                        Bohemia energy
                      </p>
                      <p>
                        {{ 'police.recapitulation.product' | translate }}: Be
                        Relax Promo
                      </p>
                      <p>
                        D25d - water heating
                      </p>
                      <p>
                        {{
                          'police.recapitulation.circuitBreaker' | translate
                        }}: 3x10A
                      </p>
                      <p>
                        {{
                          'police.recapitulation.contractDuration' | translate
                        }}: to 31.12 2023
                      </p>
                      <p class="mb-3">
                        {{ 'police.recapitulation.fixedPrice' | translate }}: 12
                        months
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-11 card tracking-card py-2">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12">
                      <h4>
                        {{ 'police.recapitulation.yourDocs' | translate }}
                      </h4>
                      <div class="row">
                        <div class="col-6 col-md-4 row-line">
                          <h5 class="card-title">
                            <div class="row">
                              <div class="col-1">
                                <div class="icon icon-primary">
                                  <i class="fa fa-file-text-o"></i>
                                </div>
                              </div>
                              <div class="col-10">
                                {{
                                  'police.recapitulation.contract' | translate
                                }}
                              </div>
                            </div>
                          </h5>
                        </div>
                        <div class="col-6 col-md-8">
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                          >
                            <i class="fa fa-eye"></i>
                            {{ 'police.recapitulation.view' | translate }}
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                          >
                            <i class="fa fa-download"></i>
                            {{ 'police.recapitulation.download' | translate }}
                          </button>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6 col-md-4 row-line">
                          <h5 class="card-title">
                            <div class="row">
                              <div class="col-1">
                                <div class="icon icon-primary">
                                  <i class="fa fa-file-text-o"></i>
                                </div>
                              </div>
                              <div class="col-10">
                                {{
                                  'police.recapitulation.priceList' | translate
                                }}
                              </div>
                            </div>
                          </h5>
                        </div>
                        <div class="col-6 col-md-8">
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                          >
                            <i class="fa fa-eye"></i>
                            {{ 'police.recapitulation.view' | translate }}
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                          >
                            <i class="fa fa-download"></i>
                            {{ 'police.recapitulation.download' | translate }}
                          </button>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6 col-md-4">
                          <h5 class="card-title">
                            <div class="row">
                              <div class="col-1">
                                <div class="icon icon-primary">
                                  <i class="fa fa-file-text-o"></i>
                                </div>
                              </div>
                              <div class="col-10">
                                {{
                                  'police.recapitulation.termsAndConditions'
                                    | translate
                                }}
                              </div>
                            </div>
                          </h5>
                        </div>
                        <div class="col-6 col-md-8">
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                          >
                            <i class="fa fa-eye"></i>
                            {{ 'police.recapitulation.view' | translate }}
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                          >
                            <i class="fa fa-download"></i>
                            {{ 'police.recapitulation.download' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" />
                    <span class="form-check-sign"></span>
                    {{ 'police.recapitulation.iHaveRead' | translate }}
                  </label>
                </div>
              </div>
              <div class="row d-flex justify-content-center mt-3">
                <div class="col-12 text-center">
                  <button
                    type="button"
                    class="btn btn-round btn-primary btn-lg"
                  >
                    {{ 'police.recapitulation.withSMS' | translate }}
                  </button>
                </div>
                <div class="col-12 text-center">
                  <p>{{ 'police.recapitulation.or' | translate }}</p>
                </div>
                <div class="col-12 text-center">
                  <button type="button" class="btn btn-round btn-primary">
                    {{ 'police.recapitulation.printAndSend' | translate }}
                  </button>
                </div>
                <div class="col-lg-11 text-right">
                  <button
                    type="button"
                    class="btn btn-danger btn-round"
                    [routerLink]="['/police/tariff-compare']"
                  >
                    {{ 'police.recapitulation.return' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
