<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container-lg">
        <div class="row">
          <div class="card">
            <h2 class="card-title initial text-center mb-0">
              {{ 'police.recapitulation.title' | translate }}
            </h2>
            <h4 class="text-center mt-2" *ngIf="supplyPoint">
              {{ supplyPoint.name }}
            </h4>

            <div class="card-body">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-11 card tracking-card py-2">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12">
                      <h4>
                        {{ 'police.recapitulation.info' | translate }}
                      </h4>
                      <div *ngIf="user">
                        <p>
                          {{ 'police.recapitulation.name' | translate }}:
                          {{
                            user.firstName || 'please fill in before proceeding'
                          }}
                          {{ user.lastName }}
                        </p>
                        <p>
                          {{ 'police.recapitulation.birthDate' | translate }}:
                          {{
                            (user.birthDate?.toDate()
                              | date: 'mediumDate':undefined:lang) ||
                              'please fill in before proceeding'
                          }}
                        </p>
                        <p>
                          {{ 'police.recapitulation.street' | translate }}:
                          {{
                            user.street || 'please fill in before proceeding'
                          }}
                        </p>
                        <p>
                          {{ 'police.recapitulation.city' | translate }}:
                          {{ user.city || 'please fill in before proceeding' }}
                        </p>
                        <p>
                          {{ 'police.recapitulation.postalCode' | translate }}:
                          {{
                            user.postalCode ||
                              'please fill in before proceeding'
                          }}
                        </p>
                        <p>
                          {{
                            'police.recapitulation.customerNumber' | translate
                          }}:
                          {{
                            user.customerNumber ||
                              'please fill in before proceeding'
                          }}
                        </p>
                        <p>
                          {{
                            'police.recapitulation.accountNumber' | translate
                          }}:
                          {{
                            user.accountNumber ||
                              'please fill in before proceeding'
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-12 text-right">
                      <a
                        [routerLink]="'/profile'"
                        [queryParams]="{ fromNewContract: true }"
                        [queryParamsHandling]="'merge'"
                      >
                        <h5 class="mb-0">
                          <small>{{
                            'police.recapitulation.editInfo' | translate
                          }}</small>
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row d-flex justify-content-center">
                <div class="col-lg-11 card tracking-card py-2">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12">
                      <h4>
                        {{
                          'police.recapitulation.consumptionPoint' | translate
                        }}
                      </h4>
                      <div *ngIf="supplyPoint">
                        <p>
                          {{ 'police.recapitulation.street' | translate }}:
                          {{
                            supplyPoint.adress.street ||
                              'please fill in before proceeding'
                          }}
                        </p>
                        <p>
                          {{ 'police.recapitulation.city' | translate }}:
                          {{
                            supplyPoint.adress.city ||
                              'please fill in before proceeding'
                          }}
                        </p>
                        <p>
                          {{ 'police.recapitulation.postalCode' | translate }}:
                          {{
                            supplyPoint.adress.postalCode ||
                              'please fill in before proceeding'
                          }}
                        </p>
                        <p>
                          {{ 'police.recapitulation.pointNumber' | translate }}:
                          {{
                            supplyPoint.adress.supplyPointNumber ||
                              'please fill in before proceeding'
                          }}
                        </p>
                        <p>
                          {{ 'police.recapitulation.ean' | translate }}:
                          {{
                            supplyPoint.adress.EAN ||
                              'please fill in before proceeding'
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-12 text-right">
                      <a
                        [routerLink]="['/police/dashboard/set-point']"
                        [queryParams]="{ supplyPoint: supplyPointUid }"
                      >
                        <h5 class="mb-0">
                          <small>{{
                            'police.recapitulation.editPoint' | translate
                          }}</small>
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="row d-flex justify-content-center"
                *ngIf="tariff | async as tariff"
              >
                <div class="col-lg-11 card tracking-card py-2">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12">
                      <h4>
                        {{ 'police.recapitulation.productInfo' | translate }}
                      </h4>
                      <p>
                        {{ 'police.recapitulation.provider' | translate }}:
                        {{ providerParam }}
                      </p>
                      <p>
                        {{ 'police.recapitulation.product' | translate }}:
                        {{ tariff.name }}
                      </p>
                      <p>
                        {{ 'police.recapitulation.rate' | translate }}:
                        {{ (rate | async)?.rate }} -
                        {{ ((rate | async)?.description)[lang] }}
                      </p>
                      <p>
                        {{
                          'police.recapitulation.circuitBreaker' | translate
                        }}:
                        {{ ((circuitBreaker | async)?.description)[lang] }}
                      </p>
                      <p>
                        {{
                          'police.recapitulation.contractDuration' | translate
                        }}:
                        {{
                          tariff.contractDurationMonths === -1
                            ? ('police.recapitulation.indefinite' | translate)
                            : tariff.contractDurationMonths +
                              ('police.recapitulation.months' | translate)
                        }}
                      </p>
                      <p class="mb-3">
                        {{ 'police.recapitulation.fixedPrice' | translate }}:
                        {{ tariff.fixedPriceDurationMonths || 12 }}
                        {{ 'police.recapitulation.months' | translate }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-11 card tracking-card py-2">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12">
                      <h4>
                        {{ 'police.recapitulation.yourDocs' | translate }}
                      </h4>
                      <div class="row">
                        <div class="col-6 col-md-4 row-line">
                          <h5 class="card-title">
                            <div class="row">
                              <div class="col-1">
                                <div class="icon icon-primary">
                                  <i class="fa fa-file-text-o"></i>
                                </div>
                              </div>
                              <div class="col-10">
                                {{
                                  'police.recapitulation.contract' | translate
                                }}
                              </div>
                            </div>
                          </h5>
                        </div>
                        <div class="col-6 col-md-8">
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                            (click)="addToRead('contract')"
                          >
                            <i class="fa fa-eye"></i>
                            {{ 'police.recapitulation.view' | translate }}
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                            (click)="addToRead('contract')"
                          >
                            <i class="fa fa-download"></i>
                            {{ 'police.recapitulation.download' | translate }}
                          </button>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6 col-md-4 row-line">
                          <h5 class="card-title">
                            <div class="row">
                              <div class="col-1">
                                <div class="icon icon-primary">
                                  <i class="fa fa-file-text-o"></i>
                                </div>
                              </div>
                              <div class="col-10">
                                {{
                                  'police.recapitulation.priceList' | translate
                                }}
                              </div>
                            </div>
                          </h5>
                        </div>
                        <div class="col-6 col-md-8">
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                            (click)="addToRead('priceList')"
                          >
                            <i class="fa fa-eye"></i>
                            {{ 'police.recapitulation.view' | translate }}
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                            (click)="addToRead('priceList')"
                          >
                            <i class="fa fa-download"></i>
                            {{ 'police.recapitulation.download' | translate }}
                          </button>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6 col-md-4">
                          <h5 class="card-title">
                            <div class="row">
                              <div class="col-1">
                                <div class="icon icon-primary">
                                  <i class="fa fa-file-text-o"></i>
                                </div>
                              </div>
                              <div class="col-10">
                                {{
                                  'police.recapitulation.termsAndConditions'
                                    | translate
                                }}
                              </div>
                            </div>
                          </h5>
                        </div>
                        <div class="col-6 col-md-8">
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                            (click)="addToRead('termsConditions')"
                          >
                            <i class="fa fa-eye"></i>
                            {{ 'police.recapitulation.view' | translate }}
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary btn-round"
                            (click)="addToRead('termsConditions')"
                          >
                            <i class="fa fa-download"></i>
                            {{ 'police.recapitulation.download' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="form-check" [class.disabled]="!readAll">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [disabled]="!readAll"
                      [(ngModel)]="agreeToTerms"
                    />
                    <span class="form-check-sign"></span>
                    {{ 'police.recapitulation.iHaveRead' | translate }}
                  </label>
                </div>
              </div>
              <div class="row d-flex justify-content-center mt-3">
                <div class="col-12 text-center">
                  <button
                    type="button"
                    class="btn btn-round btn-primary btn-lg"
                    [disabled]="!agreeToTerms"
                  >
                    {{ 'police.recapitulation.withSMS' | translate }}
                  </button>
                </div>
                <div class="col-12 text-center">
                  <p>{{ 'police.recapitulation.or' | translate }}</p>
                </div>
                <div class="col-12 text-center">
                  <button
                    type="button"
                    class="btn btn-round btn-primary"
                    [disabled]="!agreeToTerms"
                  >
                    {{ 'police.recapitulation.printAndSend' | translate }}
                  </button>
                </div>
                <div class="col-lg-11 text-right">
                  <button
                    type="button"
                    class="btn btn-danger btn-round"
                    [routerLink]="['/police/tariff-compare']"
                  >
                    {{ 'police.recapitulation.return' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
