input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
.card {
  // width: 100%;
  // max-width: 100%;
  // z-index: 1;
  .input-group {
    max-width: 350px;
    margin: 0 auto 10px auto;
  }
  .card-title {
    margin-bottom: 1em;
  }
}
.form {
  padding-top: 20px;
}
.card-padding {
  padding: 50px 0;
}
.initial {
  color: initial;
}
.right-border {
  border-right: 1px solid lightgrey;
}
.left-border {
  border-left: 1px solid lightgrey;
}
.tracking-card {
  margin-bottom: 2px;
  width: 99%;
  .nav-link {
    padding: 0;
  }
  .card-body {
    padding: 1rem 0;
  }
  @media (min-width: 768px) {
    .card-body {
      padding: 1rem 1.25rem;
    }
  }
  .dropdown-toggle::after {
    content: none;
  }
  i {
    font-size: 1.4rem;
  }
  .edit {
    margin-top: auto;
    margin-bottom: auto;
  }
  .dropdown-menu {
    -webkit-transform: translate3d(-80px, 30px, 0) !important;
    transform: translate3d(-80px, 30px, 0) !important;
  }
  .entry-dropdown {
    position: absolute;
    right: 10px;
    top: 33%;
  }
}

.review-card {
  width: 99%;
}
.icon-button {
  border: none;
  outline: 0;
}
.wrapper {
  min-height: 90vh;
}
body {
  background: #353535;
  background: -webkit-linear-gradient(top left, #353535, #01340e);
  background: -moz-linear-gradient(top left, #353535, #01340e);
  background: linear-gradient(to bottom right, #353535, #01340e);
}
.main {
  background: transparent;
}
h6 {
  font-size: 1rem;
}
.form-control {
  font-size: 1.3rem;
}
.category {
  font-weight: 400;
}
