<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container-lg">
        <div class="row">
          <div class="card">
            <!-- {{ tariff | async | json }} -->
            <h2 class="card-title initial text-center">
              {{ 'police.tracking.title' | translate }}
              <span> Electricity at Home</span>
            </h2>
            <div class="col-12">
              <div class="row d-flex justify-content-center">
                <!-- BETTER TARIFF CARD -->
                <div class="col-lg-11 card plain-card review-card">
                  <a style="cursor: pointer;">
                    <div class="card-header">
                      <h4 class="card-title text-primary text-center">
                        {{ 'police.tracking.betterTariff' | translate }}
                      </h4>
                    </div>
                    <p class="initial text-center">
                      {{
                        'police.tracking.betterTariffsPart1Plural' | translate
                      }}
                      <span class="text-primary"> <b>2</b></span>
                      {{
                        'police.tracking.betterTariffsPart2Plural' | translate
                      }}
                      {{ 'police.tracking.betterTariffsPart3' | translate }}
                      <b> <span class="text-primary">2 400</span>&nbsp;CZK</b>
                      {{ 'police.tracking.aYear' | translate }}
                    </p>
                    <button
                      class="btn btn-primary btn-round btn-lg ml-auto mr-auto"
                      style="display: block;"
                      [routerLink]="'/light/compare'"
                    >
                      <span>{{ 'police.tracking.learnMore' | translate }}</span>
                    </button>
                  </a>
                </div>

                <!-- REVIEW DATA -->
                <div class="col-12">
                  <div>
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-11 card plain-card review-card">
                        <div class="card-body">
                          <h5>
                            <span>From tracking</span>
                          </h5>
                          <div class="row d-flex justify-content-center">
                            <div class="col-8 col-sm-5 col-md-4">
                              <div class="row">
                                <h6 class="category initial">
                                  {{ 'police.tracking.trackedPer' | translate }}
                                </h6>
                              </div>
                            </div>

                            <div class="col-8 col-sm-5 col-md-4">
                              <div class="row">
                                <div class="col-12 col-md-6">
                                  <h6
                                    class="category initial text-right text-nowrap"
                                  >
                                    <span class="text-primary">1 000</span>
                                    <span>
                                      /
                                    </span>
                                    <span class="text-primary">2 000</span
                                    >&nbsp;{{
                                      'police.tracking.valueUnits' | translate
                                    }}
                                  </h6>
                                </div>
                                <div class="col-12 col-md-6">
                                  <h6
                                    class="category initial text-right text-nowrap"
                                  >
                                    <span class="text-primary">10 000</span
                                    >&nbsp;{{
                                      'police.tracking.costUnit' | translate
                                    }}
                                  </h6>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row d-flex justify-content-center">
                            <div class="col-8 col-sm-5 col-md-4">
                              <div class="row">
                                <h6 class="category initial">
                                  {{
                                    'police.tracking.estimatedValues'
                                      | translate
                                  }}
                                </h6>
                              </div>
                            </div>

                            <div class="col-8 col-sm-5 col-md-4">
                              <div class="row">
                                <div class="col-12 col-md-6">
                                  <h6
                                    class="category initial text-right text-nowrap"
                                  >
                                    <span class="text-primary">3 000</span>
                                    <span>
                                      /
                                    </span>
                                    <span class="text-primary">4 000</span
                                    >&nbsp;{{
                                      'police.tracking.valueUnits' | translate
                                    }}
                                  </h6>
                                </div>
                                <div class="col-12 col-md-6">
                                  <h6
                                    class="category initial text-right text-nowrap"
                                  >
                                    <span class="text-primary">20 000</span
                                    >&nbsp;{{
                                      'police.tracking.costUnit' | translate
                                    }}
                                  </h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- NO USERTARIFF DATA CALL TO ACTION -->
                    <!-- <div
                      class="row d-flex justify-content-center"
                      *ngIf="
                        (periodSummary.periodSummary.measuredConsumption &&
                          !periodSummary.periodSummary.measuredCost) ||
                        ((tariff | async)?.name === 'Unknown Tariff' &&
                          (trackingEntries | async)?.length > 0)
                      "
                    >
                      <div class="col-lg-11 card plain-card review-card">
                        <div class="card-header">
                          <h4 class="card-title text-primary text-center">
                            Got 5 minutes?
                          </h4>
                        </div>
                        <p class="text-center">
                          Fill in your tariff info so you can see how much
                          you're spending
                        </p>
                        <button
                          class="btn btn-primary btn-round ml-auto mr-auto"
                          style="display: block;"
                          [routerLink]="'/police/tariff'"
                          [queryParams]="{ isEmptyTariff: true }"
                          [queryParamsHandling]="'merge'"
                        >
                          <span>Click here to fill tariff info</span>
                        </button>
                      </div>
                    </div> -->
                  </div>

                  <!-- LEGEND FOR ENTRIES -->
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-11 card tracking-card">
                      <div class="row d-flex justify-content-center">
                        <div class="col-11 col-md-8 col-lg-12 pr-1 pr-sm-0">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-12 col-lg-4">
                                <div class="row">
                                  <div class="col-6 text-center">
                                    <h6 class="category initial">
                                      {{
                                        'police.tracking.deductionDate'
                                          | translate
                                      }}
                                    </h6>
                                  </div>
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial">
                                      +
                                      {{
                                        'police.tracking.costSince' | translate
                                      }}
                                    </h6>
                                  </div>
                                </div>
                              </div>

                              <div class="col-12 col-lg-4">
                                <div class="row">
                                  <div class="col-6 text-center">
                                    <h6 class="category initial">
                                      {{
                                        'police.tracking.deductionValue'
                                          | translate
                                      }}
                                    </h6>
                                  </div>
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial">
                                      +
                                      {{
                                        'police.tracking.consumptionSince'
                                          | translate
                                      }}
                                    </h6>
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-4 col-12">
                                <div class="row">
                                  <div class="col-6 text-center">
                                    <h6 class="category initial">
                                      {{
                                        'police.tracking.deductionValueLow'
                                          | translate
                                      }}
                                    </h6>
                                  </div>
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial">
                                      +
                                      {{
                                        'police.tracking.consumptionLow'
                                          | translate
                                      }}
                                    </h6>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- ENTRIES TABLE -->
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-11 card tracking-card">
                      <div class="row d-flex justify-content-center">
                        <div class="col-11 col-md-8 col-lg-12 pr-1 pr-sm-0">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-12 col-lg-4">
                                <div class="row">
                                  <div class="col-6 text-center">
                                    <h6 class="category initial text-nowrap">
                                      1.1. 2019
                                    </h6>
                                  </div>
                                  <!-- COST SINCE LAST READING -->
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial text-nowrap">
                                      +&nbsp;<span class="text-primary">?</span
                                      >&nbsp;CZK
                                    </h6>
                                  </div>
                                </div>
                              </div>

                              <div class="col-12 col-lg-4">
                                <div class="row">
                                  <div class="col-6">
                                    <h6 class="category initial text-nowrap">
                                      <div class="row">
                                        <div
                                          class="col-6 text-right"
                                          style="padding-right: 0;"
                                        >
                                          <span class="text-primary">100</span>
                                        </div>
                                        <div
                                          class="col-6 text-left"
                                          style="padding-left: 0;"
                                        >
                                          &nbsp;kWh
                                        </div>
                                      </div>
                                    </h6>
                                  </div>
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial text-nowrap">
                                      +&nbsp;<span class="text-primary">?</span
                                      >&nbsp;kWh
                                    </h6>
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-4 col-12">
                                <div class="row">
                                  <div class="col-6">
                                    <h6 class="category initial text-nowrap">
                                      <div class="row">
                                        <div class="col-6 text-right pr-0">
                                          <span class="text-primary">50</span>
                                        </div>
                                        <div
                                          class="col-6 text-left"
                                          style="padding-left: 0;"
                                        >
                                          &nbsp;kWh
                                        </div>
                                      </div>
                                    </h6>
                                  </div>
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial text-nowrap">
                                      +&nbsp;<span class="text-primary">? </span
                                      ><ng-template #first
                                        ><span class="text-primary"
                                          >?</span
                                        ></ng-template
                                      >&nbsp;kWh
                                    </h6>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="entry-dropdown">
                          <a
                            ngbDropdown
                            class="nav-item dropdown"
                            style="cursor: pointer;"
                          >
                            <div
                              class="nav-link dropdown-toggle"
                              ngbDropdownToggle
                            >
                              <i class="fa fa-ellipsis-v"></i>
                            </div>
                            <div
                              ngbDropdownMenu
                              class="dropdown-menu dropdown-menu-right"
                            >
                              <button class="dropdown-item">
                                {{ 'police.tracking.edit' | translate }}
                              </button>
                              <button class="dropdown-item">
                                {{ 'police.tracking.delete' | translate }}
                              </button>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row d-flex justify-content-center">
                    <div class="col-md-11 card tracking-card">
                      <div class="row d-flex justify-content-center">
                        <div class="col-11 col-md-8 col-lg-12 pr-1 pr-sm-0">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-12 col-lg-4">
                                <div class="row">
                                  <div class="col-6 text-center">
                                    <h6 class="category initial text-nowrap">
                                      1.2. 2019
                                    </h6>
                                  </div>
                                  <!-- COST SINCE LAST READING -->
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial text-nowrap">
                                      +&nbsp;<span class="text-primary"
                                        >500 </span
                                      >&nbsp;CZK
                                    </h6>
                                  </div>
                                </div>
                              </div>

                              <div class="col-12 col-lg-4">
                                <div class="row">
                                  <div class="col-6">
                                    <h6 class="category initial text-nowrap">
                                      <div class="row">
                                        <div
                                          class="col-6 text-right"
                                          style="padding-right: 0;"
                                        >
                                          <span class="text-primary">200</span>
                                        </div>
                                        <div
                                          class="col-6 text-left"
                                          style="padding-left: 0;"
                                        >
                                          &nbsp;kWh
                                        </div>
                                      </div>
                                    </h6>
                                  </div>
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial text-nowrap">
                                      +&nbsp;<span class="text-primary">
                                        100 </span
                                      ><ng-template #first
                                        ><span class="text-primary"
                                          >?</span
                                        ></ng-template
                                      >&nbsp;kWh
                                    </h6>
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-4 col-12">
                                <div class="row">
                                  <div class="col-6">
                                    <h6 class="category initial text-nowrap">
                                      <div class="row">
                                        <div class="col-6 text-right pr-0">
                                          <span class="text-primary">100</span>
                                        </div>
                                        <div
                                          class="col-6 text-left"
                                          style="padding-left: 0;"
                                        >
                                          &nbsp;kWh
                                        </div>
                                      </div>
                                    </h6>
                                  </div>
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial text-nowrap">
                                      +&nbsp;<span class="text-primary">50</span
                                      ><ng-template #first
                                        ><span class="text-primary"
                                          >?</span
                                        ></ng-template
                                      >&nbsp;kWh
                                    </h6>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="entry-dropdown">
                          <a
                            ngbDropdown
                            class="nav-item dropdown"
                            style="cursor: pointer;"
                          >
                            <div
                              class="nav-link dropdown-toggle"
                              ngbDropdownToggle
                            >
                              <i class="fa fa-ellipsis-v"></i>
                            </div>
                            <div
                              ngbDropdownMenu
                              class="dropdown-menu dropdown-menu-right"
                            >
                              <button class="dropdown-item">
                                {{ 'police.tracking.edit' | translate }}
                              </button>
                              <button class="dropdown-item">
                                {{ 'police.tracking.delete' | translate }}
                              </button>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row d-flex justify-content-center">
                    <div class="col-md-11 card tracking-card">
                      <div class="row d-flex justify-content-center">
                        <div class="col-11 col-md-8 col-lg-12 pr-1 pr-sm-0">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-12 col-lg-4">
                                <div class="row">
                                  <div class="col-6 text-center">
                                    <h6 class="category initial text-nowrap">
                                      1.2. 2019
                                    </h6>
                                  </div>
                                  <!-- COST SINCE LAST READING -->
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial text-nowrap">
                                      +&nbsp;<span class="text-primary"
                                        >400 </span
                                      >&nbsp;CZK
                                    </h6>
                                  </div>
                                </div>
                              </div>

                              <div class="col-12 col-lg-4">
                                <div class="row">
                                  <div class="col-6">
                                    <h6 class="category initial text-nowrap">
                                      <div class="row">
                                        <div
                                          class="col-6 text-right"
                                          style="padding-right: 0;"
                                        >
                                          <span class="text-primary">350</span>
                                        </div>
                                        <div
                                          class="col-6 text-left"
                                          style="padding-left: 0;"
                                        >
                                          &nbsp;kWh
                                        </div>
                                      </div>
                                    </h6>
                                  </div>
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial text-nowrap">
                                      +&nbsp;<span class="text-primary">
                                        150 </span
                                      ><ng-template #first
                                        ><span class="text-primary"
                                          >?</span
                                        ></ng-template
                                      >&nbsp;kWh
                                    </h6>
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-4 col-12">
                                <div class="row">
                                  <div class="col-6">
                                    <h6 class="category initial text-nowrap">
                                      <div class="row">
                                        <div class="col-6 text-right pr-0">
                                          <span class="text-primary">200</span>
                                        </div>
                                        <div
                                          class="col-6 text-left"
                                          style="padding-left: 0;"
                                        >
                                          &nbsp;kWh
                                        </div>
                                      </div>
                                    </h6>
                                  </div>
                                  <div
                                    class="col-6 col-sm-5 col-md-6 text-right"
                                  >
                                    <h6 class="category initial text-nowrap">
                                      +&nbsp;<span class="text-primary"
                                        >100</span
                                      >&nbsp;kWh
                                    </h6>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="entry-dropdown">
                          <a
                            ngbDropdown
                            class="nav-item dropdown"
                            style="cursor: pointer;"
                          >
                            <div
                              class="nav-link dropdown-toggle"
                              ngbDropdownToggle
                            >
                              <i class="fa fa-ellipsis-v"></i>
                            </div>
                            <div
                              ngbDropdownMenu
                              class="dropdown-menu dropdown-menu-right"
                            >
                              <button class="dropdown-item">
                                {{ 'police.tracking.edit' | translate }}
                              </button>
                              <button class="dropdown-item">
                                {{ 'police.tracking.delete' | translate }}
                              </button>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container">
                    <div>
                      <hr />
                      <div class="row d-flex justify-content-center">
                        <h3 class="initial" style="margin-bottom: 0;">
                          {{ 'police.tracking.newEntry' | translate }}
                        </h3>
                      </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                      <form class="form" #trackingForm="ngForm">
                        <div>
                          <div class="row d-flex justify-content-center">
                            <div class="datepicker-container">
                              <div class="form-group">
                                <input
                                  name="deductionDate"
                                  class="form-control fix-height datetimepicker"
                                  [owlDateTime]="dt1"
                                  [owlDateTimeTrigger]="dt1"
                                  required
                                  placeholder="{{
                                    'police.tracking.datePlaceholder'
                                      | translate
                                  }}"
                                />
                                <owl-date-time
                                  [pickerType]="'calendar'"
                                  #dt1
                                ></owl-date-time>
                              </div>
                            </div>
                          </div>
                          <div class="row d-flex justify-content-center">
                            <div class="input-group">
                              <input
                                name="deductedValue"
                                type="number"
                                class="form-control"
                                required
                                placeholder="{{
                                  'police.tracking.valuePlaceholder' | translate
                                }}"
                                (focus)="focus = true"
                                (blur)="focus = false"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text">
                                  {{ 'police.tracking.valueUnits' | translate }}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="row d-flex justify-content-center">
                            <div class="input-group">
                              <input
                                name="deductedValueLow"
                                type="number"
                                class="form-control"
                                required
                                placeholder="{{
                                  'police.tracking.valuePlaceholderLow'
                                    | translate
                                }}"
                                (focus)="focus1 = true"
                                (blur)="focus1 = false"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text">
                                  {{ 'police.tracking.valueUnits' | translate }}
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                          <div class="col">
                            <div class="info info-hover pb-0">
                              <button
                                [type]="'submit'"
                                class="icon icon-success icon-circle icon-button"
                              >
                                <i class="now-ui-icons ui-1_check"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-primary btn-round btn-sm ml-2"
              [routerLink]="'/light'"
            >
              <i class="fa fa-chevron-left"></i>
              Dashboard
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
