<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container-lg">
        <div class="row">
          <div class="card">
            <h2 class="card-title initial text-center">
              Add new supply place
            </h2>
            <div class="row">
              <div class="col-md-10 mr-auto ml-auto">
                <div class="card card-plain">
                  <form class="form" #pointForm="ngForm">
                    <div class="card-body">
                      <div class="col-md-8 col-lg-6 ml-auto mr-auto mt-3">
                        <div class="row">
                          <div class="row mb-3">
                            <div class="col-12">
                              <div class="row justify-content-md-end">
                                <div
                                  class="col-12 col-sm-4 col-md-6 vertical-center"
                                >
                                  <label
                                    for="consumptionHigh"
                                    class="ml-3 mb-sm-3"
                                    ><h5>
                                      {{
                                        'police.supplyPoints.set.name'
                                          | translate
                                      }}
                                    </h5></label
                                  >
                                </div>
                                <div
                                  class="form-group col-9 col-sm-8 col-md-6 text-sm-right"
                                >
                                  <input
                                    name="name"
                                    type="text"
                                    value="Home"
                                    class="form-control fix-height"
                                    required
                                    placeholder="Name of supply point"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="col-12 ml-3">
                              <h5 class="mb-3">
                                {{
                                  'police.supplyPoints.set.adress' | translate
                                }}
                              </h5>
                            </div>

                            <div class="col-12">
                              <div class="row">
                                <div
                                  class="col-12 col-sm-4 col-md-6 vertical-center"
                                >
                                  <label for="city" class="ml-3 mb-sm-3">{{
                                    'police.supplyPoints.set.city' | translate
                                  }}</label>
                                </div>
                                <div
                                  class="form-group col-9 col-sm-8 col-md-6 text-sm-right"
                                >
                                  <input
                                    name="city"
                                    type="text"
                                    value="Kladno"
                                    class="form-control fix-height"
                                    placeholder="City"
                                  />
                                </div>
                              </div>
                            </div>

                            <div class="col-12">
                              <div class="row">
                                <div
                                  class="col-12 col-sm-4 col-md-6 vertical-center"
                                >
                                  <label for="street" class="ml-3">{{
                                    'police.supplyPoints.set.street' | translate
                                  }}</label>
                                </div>
                                <div
                                  class="form-group col-9 col-sm-8 col-md-6 text-sm-right"
                                >
                                  <input
                                    name="street"
                                    type="text"
                                    value="Vodárenská"
                                    class="form-control fix-height"
                                    placeholder="Street"
                                  />
                                </div>
                              </div>
                            </div>

                            <!-- <div class="col-12">
                              <div class="row">
                                <div
                                  class="col-12 col-sm-4 col-md-6 vertical-center"
                                >
                                  <label for="postalCode" class="ml-3">{{
                                    'police.supplyPoints.set.pointNumber'
                                      | translate
                                  }}</label>
                                </div>
                                <div
                                  class="form-group col-9 col-sm-8 col-md-6 text-sm-right"
                                >
                                  <input
                                    name="supplyPointNumber"
                                    type="text"
                                    value="123670"
                                    class="form-control fix-height"
                                    placeholder="Identification number"
                                  />
                                </div>
                              </div>
                            </div> -->

                            <div class="col-12">
                              <div class="row">
                                <div
                                  class="col-12 col-sm-4 col-md-6 vertical-center"
                                >
                                  <label for="postalCode" class="ml-3">{{
                                    'police.supplyPoints.set.postalCode'
                                      | translate
                                  }}</label>
                                </div>
                                <div
                                  class="form-group col-9 col-sm-8 col-md-6 text-sm-right"
                                >
                                  <input
                                    name="postalCode"
                                    type="text"
                                    class="form-control fix-height"
                                    placeholder="Postal Code"
                                    value="272 05"
                                  />
                                </div>
                              </div>
                              <div class="row justify-content-sm-end">
                                <div class="col-9 col-sm-8 col-md-6">
                                  <p class="pl-3">
                                    {{
                                      'police.supplyPoints.set.distributor'
                                        | translate
                                    }}: ČEZ
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="text-center">
                          <button
                            class="btn btn-primary btn-round btn-lg"
                            type="submit"
                          >
                            <span>{{
                              'police.supplyPoints.set.save' | translate
                            }}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
