.wrapper {
  min-height: 90vh;
}
.main {
  background: transparent;
}
.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}
.fix-height {
  height: 40px;
}

.icon-button {
  border: none;
  outline: 0;
  width: 60px !important;
  max-width: 60px !important;
  height: 60px !important;
  i {
    font-size: 2.3em;
    line-height: 2.5em;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
