<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <div class="card card-signup">
              <h2 class="card-title text-center initial">
                Your profile
              </h2>

              <form
                class="form"
                #profileForm="ngForm"
                (ngSubmit)="onSubmit(profileForm)"
              >
                <div class="card-body" *ngIf="user">
                  <!-- FIRST NAME -->
                  <div style="max-width: 350px;" class="ml-auto mr-auto">
                    <label
                      for="firstName"
                      class="ml-3"
                      *ngIf="profileForm.value.firstName"
                      >{{ 'register.firstName' | translate }}</label
                    >
                  </div>
                  <div
                    class="input-group input-lg"
                    [ngClass]="{ 'input-group-focus': focus[0] === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i
                      ></span>
                    </div>
                    <input
                      name="firstName"
                      type="text"
                      [(ngModel)]="user.firstName"
                      class="form-control"
                      placeholder="{{ 'register.firstName' | translate }}"
                      (focus)="focus[0] = true"
                      (blur)="focus[0] = false"
                    />
                  </div>

                  <!-- LAST NAME -->
                  <div style="max-width: 350px;" class="ml-auto mr-auto">
                    <label
                      for="lastName"
                      class="ml-3"
                      *ngIf="profileForm.value.lastName"
                      >{{ 'register.lastName' | translate }}</label
                    >
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus[1] === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i
                      ></span>
                    </div>
                    <input
                      name="lastName"
                      type="text"
                      [(ngModel)]="user.lastName"
                      class="form-control"
                      placeholder="{{ 'register.lastName' | translate }}"
                      (focus)="focus[1] = true"
                      (blur)="focus[1] = false"
                    />
                  </div>

                  <!-- EMAIL -->
                  <div style="max-width: 350px;" class="ml-auto mr-auto">
                    <label
                      for="email"
                      class="ml-3"
                      *ngIf="profileForm.value.email"
                      >{{ 'register.email' | translate }}</label
                    >
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus[2] === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i
                      ></span>
                    </div>
                    <input
                      name="email"
                      type="email"
                      email
                      [(ngModel)]="user.email"
                      class="form-control"
                      placeholder="{{ 'register.email' | translate }}"
                      (focus)="focus[2] = true"
                      (blur)="focus[2] = false"
                    />
                  </div>

                  <!-- DATE OF BIRTH -->
                  <div style="max-width: 350px;" class="ml-auto mr-auto">
                    <label
                      for="birthDate"
                      class="ml-3"
                      *ngIf="profileForm.value.birthDate"
                      >{{ 'register.birthDate' | translate }}</label
                    >
                  </div>
                  <div
                    class="form-group ml-auto mr-auto"
                    style="max-width: 350px;"
                  >
                    <input
                      name="birthDate"
                      class="form-control fix-height datetimepicker"
                      [(ngModel)]="birthDate"
                      [owlDateTime]="dt1"
                      [owlDateTimeTrigger]="dt1"
                      placeholder="{{ 'register.birthDate' | translate }}"
                    />
                    <owl-date-time
                      [pickerType]="'calendar'"
                      #dt1
                    ></owl-date-time>
                  </div>

                  <!-- PHONE NUMBER -->
                  <div style="max-width: 350px;" class="ml-auto mr-auto">
                    <label
                      for="phoneNumber"
                      class="ml-3"
                      *ngIf="profileForm.value.phoneNumber"
                      >{{ 'register.phoneNumber' | translate }}</label
                    >
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus[3] === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons tech_mobile"></i
                      ></span>
                    </div>
                    <input
                      name="phoneNumber"
                      type="tel"
                      [(ngModel)]="user.phoneNumber"
                      class="form-control"
                      placeholder="{{ 'register.phoneNumber' | translate }}"
                      (focus)="focus[3] = true"
                      (blur)="focus[3] = false"
                    />
                  </div>

                  <!-- USER NAME -->
                  <!-- <div style="max-width: 350px;" class="ml-auto mr-auto">
                    <label
                      for="userName"
                      class="ml-3"
                      *ngIf="profileForm.value.userName"
                      >{{ 'register.userName' | translate }}</label
                    >
                  </div>
                  <div class="row">
                    <div class="col">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus[4] === true }"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="now-ui-icons business_badge"></i
                          ></span>
                        </div>
                        <input
                          (input)="onNameChange($event.target.value)"
                          name="userName"
                          type="text"
                          ngModel
                          
                          class="form-control"
                          placeholder="{{ 'register.userName' | translate }}"
                          (focus)="focus[4] = true"
                          (blur)="focus[4] = false"
                        />
                      </div>
                    </div>
                  </div> -->

                  <!-- STREET -->
                  <div style="max-width: 350px;" class="ml-auto mr-auto">
                    <label
                      for="street"
                      class="ml-3"
                      *ngIf="profileForm.value.street"
                      >{{ 'register.street' | translate }}</label
                    >
                  </div>
                  <div class="row">
                    <div class="col">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus[5] === true }"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-road"></i
                          ></span>
                        </div>
                        <input
                          name="street"
                          type="text"
                          [(ngModel)]="user.street"
                          class="form-control"
                          placeholder="{{ 'register.street' | translate }}"
                          (focus)="focus[5] = true"
                          (blur)="focus[5] = false"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- CITY -->
                  <div style="max-width: 350px;" class="ml-auto mr-auto">
                    <label
                      for="city"
                      class="ml-3"
                      *ngIf="profileForm.value.city"
                      >{{ 'register.city' | translate }}</label
                    >
                  </div>
                  <div class="row">
                    <div class="col">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus[6] === true }"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-building-o"></i
                          ></span>
                        </div>
                        <input
                          name="city"
                          type="text"
                          [(ngModel)]="user.city"
                          class="form-control"
                          placeholder="{{ 'register.city' | translate }}"
                          (focus)="focus[6] = true"
                          (blur)="focus[6] = false"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- POSTAL CODE -->
                  <div style="max-width: 350px;" class="ml-auto mr-auto">
                    <label
                      for="postalCode"
                      class="ml-3"
                      *ngIf="profileForm.value.postalCode"
                      >{{ 'register.postalCode' | translate }}</label
                    >
                  </div>
                  <div class="row">
                    <div class="col">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus[7] === true }"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-location-arrow"></i
                          ></span>
                        </div>
                        <input
                          name="postalCode"
                          type="text"
                          [(ngModel)]="user.postalCode"
                          class="form-control"
                          placeholder="{{ 'register.postalCode' | translate }}"
                          (focus)="focus[7] = true"
                          (blur)="focus[7] = false"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- CUSTOMER NUMBER -->
                  <div style="max-width: 350px;" class="ml-auto mr-auto">
                    <label
                      for="customerNumber"
                      class="ml-3"
                      *ngIf="profileForm.value.customerNumber"
                      >{{ 'register.customerNumber' | translate }}</label
                    >
                  </div>
                  <div class="row">
                    <div class="col">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus[8] === true }"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-address-book-o"></i
                          ></span>
                        </div>
                        <input
                          name="customerNumber"
                          type="text"
                          [(ngModel)]="user.customerNumber"
                          class="form-control"
                          placeholder="{{
                            'register.customerNumber' | translate
                          }}"
                          (focus)="focus[8] = true"
                          (blur)="focus[8] = false"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- ACCOUNT NUMBER -->
                  <div style="max-width: 350px;" class="ml-auto mr-auto">
                    <label
                      for="accountNumber"
                      class="ml-3"
                      *ngIf="profileForm.value.accountNumber"
                      >{{ 'register.accountNumber' | translate }}</label
                    >
                  </div>
                  <div class="row">
                    <div class="col">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus[9] === true }"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-id-card-o"></i
                          ></span>
                        </div>
                        <input
                          name="accountNumber"
                          type="text"
                          [(ngModel)]="user.accountNumber"
                          class="form-control"
                          placeholder="{{
                            'register.accountNumber' | translate
                          }}"
                          (focus)="focus[9] = true"
                          (blur)="focus[9] = false"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- <p class="text-center text-danger" *ngIf="error">
                    {{ error | translate }}
                  </p> -->
                  <!-- <p class="text-center text-danger" *ngIf="nameDuplicate">
                    {{ nameDuplicate | translate }}
                  </p> -->
                  <div class="text-center">
                    <button
                      class="btn btn-primary btn-round btn-lg"
                      type="submit"
                      [disabled]="!profileForm.valid"
                    >
                      <span>Save</span>
                    </button>
                  </div>
                </div>
              </form>
              <button
                *ngIf="params === 'true'"
                class="btn btn-primary btn-round btn-sm ml-2 mb-3"
                [routerLink]="'/police/recap'"
                [queryParamsHandling]="'merge'"
              >
                <i class="fa fa-chevron-left"></i>
                Back to new contract
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
