<div class="page-header">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
          <div class="card card-signup">
            <form
              class="form"
              #tariffsForm="ngForm"
              (ngSubmit)="onSubmit(tariffsForm)"
            >
              <h2 class="card-title text-center initial">
                {{ 'police.tariffs.title' | translate }}
              </h2>
              <div class="card-body">
                <div class="col-6 ml-auto mr-auto">
                  <div class="row d-flex justify-content-center">
                    <div class="form-check form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="energy"
                          checked
                          id="electricity"
                          value="electricity"
                          [(ngModel)]="energySelection"
                          (change)="onRadioClick()"
                        />

                        <span class="form-check-sign">{{
                          'police.tariffs.electricity' | translate
                        }}</span>
                      </label>
                    </div>
                    <!-- <div class="form-check form-check-radio">
                      <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option2" checked>
                          <span class="form-check-sign"></span>
                          Radio is on
                      </label>
                  </div> -->
                    <div class="form-check form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="energy"
                          id="gas"
                          value="gas"
                          [(ngModel)]="energySelection"
                          (change)="onRadioClick()"
                        />

                        <span class="form-check-sign">{{
                          'police.tariffs.gas' | translate
                        }}</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                  <h4 class="initial text-center">
                    {{ 'police.tariffs.select' | translate }}
                  </h4>
                  <div class="row">
                    <div
                      class="col-lg-6 col-md-8 col-sm-5"
                      *ngIf="tariffsList !== undefined"
                    >
                      <angular2-multiselect
                        class="initial"
                        [data]="providersList"
                        [(ngModel)]="provider"
                        name="provider"
                        [settings]="providersDropdownSettings"
                        (onSelect)="onProviderSelect()"
                        (onDeSelect)="onProviderDeselect()"
                      >
                      </angular2-multiselect>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-5">
                      <angular2-multiselect
                        class="initial"
                        [data]="tariffsList"
                        [(ngModel)]="tariff"
                        name="tariff"
                        required
                        [settings]="tariffsDropdownSettings"
                      >
                      </angular2-multiselect>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-top: 1em;">
                  <div
                    class="input-group input-md"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons objects_globe"></i
                      ></span>
                    </div>
                    <input
                      name="postalCode"
                      type="text"
                      ngModel
                      class="form-control"
                      required
                      placeholder="{{
                        'police.tariffs.postalCode' | translate
                      }}"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                  </div>
                </div>
                <div class="text-center">
                  <button
                    class="btn btn-primary btn-round btn-lg"
                    type="submit"
                    [disabled]="!tariffsForm.valid"
                  >
                    <span>{{ 'police.tariffs.continue' | translate }}</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
