input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
.card-signup {
  width: 100%;
  max-width: 100%;
  .input-group {
    max-width: 350px;
    margin: 0 auto 10px auto;
  }
}
.form {
  padding-top: 20px;
}
.card-body {
  padding-bottom: 50px;
  padding-top: 10px;
}
.initial {
  color: initial;
}
.card {
  z-index: 100;
}
