<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container-lg">
        <div class="row">
          <div class="card">
            <h2 class="card-title initial text-center">
              Upload documents
            </h2>
            <div class="row">
              <div class="col-md-10 mr-auto ml-auto">
                <div class="card card-plain">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h4>
                        Billing document
                      </h4>
                      <label
                        for="camera-input"
                        class="btn btn-round btn-primary"
                      >
                        <i class="fa fa-camera"></i> Photograph billing
                      </label>
                      <input
                        type="file"
                        id="camera-input"
                        class="file-input"
                        (change)="fileChange($event, 'billing')"
                        accept="image/*"
                        capture="environment"
                      />
                    </div>
                    <div class="col-12 text-center">
                      <label
                        for="file-upload"
                        class="btn btn-round btn-primary"
                      >
                        <i class="fa fa-cloud-upload"></i> Upload billing
                      </label>
                      <input
                        type="file"
                        id="file-upload"
                        class="file-input"
                        (change)="fileChange($event, 'billing')"
                        placeholder="Upload file"
                        accept=".pdf,.doc,.docx"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <h4>
                        Contract document
                      </h4>
                      <label
                        for="camera-input"
                        class="btn btn-round btn-primary"
                      >
                        <i class="fa fa-camera"></i> Photograph contract
                      </label>
                      <input
                        type="file"
                        id="camera-input"
                        class="file-input"
                        (change)="fileChange($event, 'contract')"
                        accept="image/*"
                        capture="environment"
                      />
                    </div>
                    <div class="col-12 text-center">
                      <label
                        for="file-upload"
                        class="btn btn-round btn-primary"
                      >
                        <i class="fa fa-cloud-upload"></i> Upload contract
                      </label>
                      <input
                        type="file"
                        id="file-upload"
                        class="file-input"
                        (change)="fileChange($event, 'contract')"
                        placeholder="Upload file"
                        accept=".pdf,.doc,.docx"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
