<div class="wrapper">
  <div class="page-header page-header-mini"></div>
  <div class="main">
    <div class="content">
      <div class="container-lg">
        <div class="row">
          <div class="card">
            <h2 class="card-title initial text-center mb-0">
              Your supply places
            </h2>

            <div class="card-body">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-11 py-2">
                  <div class="row">
                    <div class="col-auto">
                      <h4 class="mb-4">
                        {{ 'police.supplyPoints.notifications' | translate }}
                      </h4>
                    </div>

                    <div class="col-auto d-flex mb-1 pl-0">
                      <span
                        class="badge badge-info mt-auto mb-4"
                        style="cursor: pointer;"
                        [routerLink]="'/police/settings'"
                        ><i class="fa fa-pencil" aria-hidden="true"></i
                        >&nbsp;Set</span
                      >
                    </div>
                  </div>

                  <div class="row" *ngFor="let notification of notifications">
                    <div class="col-12 card tracking-card">
                      <div class="card-body p-1">
                        <div class="info info-horizontal col-12">
                          <div class="row">
                            <div class="col-2 col-sm-1">
                              <div
                                class="icon"
                                [ngClass]="'icon-' + notification.severity"
                              >
                                <i class="fa" [ngClass]="notification.icon"></i>
                              </div>
                            </div>
                            <div class="col-10 col-sm-11">
                              <div class="description">
                                <p class="info-title">
                                  {{ notification.text }}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row d-flex justify-content-center">
                <div class="col-lg-11 py-2">
                  <h4 class="font-weight-bold">
                    Supply places
                  </h4>
                  <div class="row">
                    <div class="col-12">
                      <div class="btn-group-toggle">
                        <label
                          class="btn btn-check active btn-round btn-lg mr-1 mr-md-3"
                        >
                          <input type="checkbox" />
                          <b>Home</b>
                        </label>
                        <label
                          class="btn btn-check btn-round btn-lg mr-1 mr-md-3"
                        >
                          <input type="checkbox" />
                          <b>Cottage</b>
                        </label>
                        <label
                          class="btn btn-check btn-round btn-lg mr-1 mr-md-3"
                          style="padding: 15px 19px;"
                        >
                          <i class="fa fa-plus"></i>
                          <input
                            [routerLink]="['/light/set']"
                            type="checkbox"
                          />
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-2 pl-3">
                    <div class="col-autopx-0">
                      <button
                        class="btn btn-primary btn-sm btn-round my-1"
                        [routerLink]="['/light/supply-point']"
                      >
                        <i class="fa fa-plus"></i>
                        Add supply point
                      </button>
                    </div>
                    <div class="col-auto px-0">
                      <button
                        class="btn btn-info btn-sm btn-round my-1"
                        [routerLink]="['/light/set']"
                      >
                        <i class="fa fa-pencil"></i>
                        {{ 'police.tracking.edit' | translate }}
                      </button>
                    </div>
                    <div class="col-auto px-0">
                      <button class="btn btn-danger btn-sm btn-round my-1">
                        <i class="fa fa-trash"></i>
                        {{ 'police.tracking.delete' | translate }}
                      </button>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12">
                      <!-- THE BIT WITH TARIFFS -->
                      <div class="row">
                        <div class="col-md-9 col-lg-8 col-xl-6 px-1">
                          <div class="card tracking-card">
                            <div class="card-body py-1 px-2">
                              <div class="info info-horizontal col-12">
                                <div class="row">
                                  <div
                                    class="icon icon-primary text-right"
                                    style="position: absolute; left: 0.5rem;"
                                  >
                                    <i class="fa fa-bolt"></i>
                                  </div>

                                  <div class="col-12 col-sm-9 pl-5">
                                    <div class="description">
                                      <div style="cursor: pointer;">
                                        <h4 class="info-title px-3">
                                          Home - electricity
                                        </h4>
                                      </div>
                                      <p>
                                        {{
                                          'police.supplyPoints.product'
                                            | translate
                                        }}: Yello energy, Yello Watt
                                      </p>
                                      <div>
                                        <div>
                                          <p>
                                            {{
                                              'police.supplyPoints.durationTo'
                                                | translate
                                            }}: 4.6. 2022,
                                            <span>
                                              {{
                                                'police.supplyPoints.autoRenewal'
                                                  | translate
                                              }}</span
                                            >
                                          </p>
                                        </div>
                                      </div>
                                      <div>
                                        <p>
                                          {{
                                            'police.supplyPoints.annualCost'
                                              | translate
                                          }}: 15 000 CZK
                                        </p>
                                        <p>
                                          {{
                                            'police.supplyPoints.lowTariff'
                                              | translate
                                          }}: 1000 kWh
                                        </p>
                                        <p>
                                          {{
                                            'police.supplyPoints.highTariff'
                                              | translate
                                          }}: 500 kWh
                                        </p>
                                      </div>

                                      <hr />
                                      <p><b>Future tariff:</b></p>
                                      <p>
                                        {{
                                          'police.supplyPoints.product'
                                            | translate
                                        }}: Bohemia Energy, Be Relax Promo
                                      </p>
                                      <div>
                                        <div>
                                          <p>
                                            Duration of tariff 4.6. 2022 - 4.6.
                                            2023
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 col-sm-3 text-right">
                                    <div
                                      class="row justify-content-end pr-3 pt-2"
                                    >
                                      <div class="col-auto col-sm-12 px-0">
                                        <button
                                          class="btn btn-primary btn-sm btn-round my-1"
                                        >
                                          <i
                                            class="fa fa-search-plus"
                                            aria-hidden="true"
                                          ></i>
                                          Compare
                                        </button>
                                      </div>
                                      <div class="col-auto col-sm-12 px-0">
                                        <button
                                          class="btn btn-primary btn-sm btn-round my-1"
                                          [routerLink]="'/light/tracking'"
                                        >
                                          <i
                                            class="fa fa-eye"
                                            aria-hidden="true"
                                          ></i>
                                          Track
                                        </button>
                                      </div>
                                      <div class="col-auto col-sm-12 px-0">
                                        <button
                                          class="btn btn-info btn-sm btn-round my-1"
                                          [routerLink]="'/light/supply-point'"
                                        >
                                          <i
                                            class="fa fa-pencil"
                                            aria-hidden="true"
                                          ></i>
                                          More
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="row d-flex justify-content-center">
                  <div class="col-12 text-center">
                    <h5>
                      {{ 'police.supplyPoints.addNew' | translate }}
                    </h5>
                  </div>
                  <div class="col-12">
                    <div class="info info-hover">
                      <button
                        type="button"
                        class="icon icon-success icon-circle icon-button"
                        [routerLink]="['/police/dashboard/set-point']"
                        [queryParams]="{ new: true }"
                      >
                        <i class="now-ui-icons ui-1_simple-add"></i>
                      </button>
                    </div>
                  </div>
                </div> -->

              <div class="row d-flex justify-content-center">
                <div class="col-lg-11">
                  <h5>
                    {{ 'police.supplyPoints.tipsAndTricks' | translate }}
                  </h5>
                </div>
                <div class="col-lg-11">
                  <ul>
                    <li>
                      Did you know prices are going to go up?
                    </li>
                    <li>
                      blabla
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row d-flex justify-content-center">
                <div class="col-lg-11 card tracking-card py-2 text-center">
                  <h4 class="my-1">
                    You already saved 5600 CZK with us.
                  </h4>
                  <button class="btn btn-round">Show my switches</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
