<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="https://www.epptec.eu">
            About eppTec
          </a>
        </li>
        <li>
          <!-- <a>{{ 'languages' | translate }}</a> - -->
          <a (click)="useLanguage('cs')" style="cursor: pointer;">CZ</a> |
          <a (click)="useLanguage('en')" style="cursor: pointer;">EN</a>
        </li>
      </ul>
      <!-- <a ngbDropdown class="nav-item dropdown" style="cursor: pointer;">
        <div class="nav-link dropdown-toggle" ngbDropdownToggle>
          <p>{{ 'languages' | translate }}</p>
        </div>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" (click)="useLanguage('cs')">
            CZ
          </button>
          <button class="dropdown-item" (click)="useLanguage('en')">
            EN
          </button>
        </div>
      </a> -->
    </nav>
    <div class="copyright text-center text-md-right">
      &copy;
      {{ data | date: 'yyyy' }}, eppTec
    </div>
  </div>
</footer>
